mixin videoCollection()
	+b.video-collection(href="#")
		+icon('playVideo')
		span Видеолекция


mixin newsWrrap(v, n, spec, t, text)
	.col-md-6.col-lg-4.col-xl-3
		+b.newsItem.wow.animate__fadeIn&attributes(attributes)
			a(href="#")
				+pic(`newsPre-${n}.jpg`, 'bg', 0)
			+e.bookmark(href="#")
				+icon(`bookmarkActive`)
			+e.content
				if spec
					+e.specialization!= spec
				+e.SPAN.title
					+e.title(href="#")!= t
				+e.P.text!= text
			if v
				+videoCollection()

mixin sNewsWrraper(h, sw)
	// start sNewsWrraper
	+b.sNewsWrraper.section#sNewsWrraper&attributes(attributes)
		.container
			if h
				+e.H4.newsTitle!= h
			if sw
				label.form-check.form-switch.custom-switch
					input.form-check-input(type='checkbox', checked)
					span.form-check-label Только бесплатные
			block

	// end sNewsWrraper