// start .sNewsWrraper
// .sNewsWrraper {
// 		--sPT: 0;
// 		--sPB: 0;
// 		// --sTPB: ;
// 	&__newsList {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: center;
// 		padding-bottom: rem(48);
// 		gap: rem(16) rem(16);
// 		@include media-breakpoint-up(md) {
// 			gap: rem(41) rem(16);
// 			padding-bottom: rem(43);
// 		}
// 		@include media-breakpoint-up(lg) {
// 			justify-content: flex-start;
// 		}
// 	}
// 	.custom-switch {
// 		min-height: 2.2em;
// 		.form-check-label {
// 			vertical-align: middle;
// 			font-weight: 500;
// 		}
// 	}
// 	&__newsTitle {
// 		text-align: center;
// 		padding-top: rem(16);
// 		padding-bottom: rem(40);
// 	}
// 	@include media-breakpoint-up(xl) {}
// 	@include media-breakpoint-up(lg) {}
// 	@include media-breakpoint-up(md) {}
// 	@include media-breakpoint-up(sm) {}
// 	@include media-breakpoint-between(md, xl) {}
// 	@include media-breakpoint-only(xl) {}
// 	@include media-breakpoint-down(xl) {}
// } // end.sNewsWrraper
.sNewsWrraper {
		--sPT: 0;
		--sPB: #{rem(10)};
		// --sTPB: ;
	.row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
		margin-bottom: rem(30);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	.custom-switch {
		display: inline-block;
		margin-bottom: rem(16);
		.form-check-label {
			vertical-align: middle;
			font-weight: 500;
		}
	}
	&__newsTitle {
		text-align: center;
		padding-top: rem(16);
		padding-bottom: rem(40);
	}
	.pagination-wrapper {
		padding-bottom: rem(30);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(67);
		}
	}
	&.rounded-top1 {
		&:after {
			@include media-breakpoint-down(lg) {
				height: 104px;
			}
			@include media-breakpoint-down(sm) {
				height: 118px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}

} // end.sNewsWrraper

.newsItem {
	position: relative;
	// max-width: rem(276);
	box-shadow: 0px 2px 8px rgba($color: #000000, $alpha: 0.15);
	border-radius: 16px;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	// padding: rem(8) rem(16);
	picture {
		img {
			border-radius: rem(16) 0px rem(16) rem(16);
		}
	}
	&__bookmark {
		position: absolute;
		top: rem(8);
		right: rem(8);
	
		svg {
			font-size: rem(24);
			color: $primary;
			fill: var(--color, none);
			stroke: currentColor;
		}
	}
	&.active {
		--color: currentColor;
	}
	&__content {
		padding: rem(8) rem(16);
		flex-grow: 1;
	}
	&__specialization {
		font-size: rem(14);
		color: $gray-medium;
		margin-bottom: rem(8);
	}
	&__title {
		font-size: rem(17);
		color: $dark;
		line-height: rem(24);
		font-weight: 500;
	}
	&__text {
		color: $gray-dark;
		margin-top: rem(8);
	}

}

.newsItem:hover {
	transition: all .3s ease;
	box-shadow: 0px 2px 20px rgb(0 0 0 / 15%);
	.newsItem__title {
		color: $primary;
	}
}

.video-collection {
	position: absolute;
	top: rem(8);
	left: rem(8);
	background-color: $white;
	font-size: rem(14);
	padding: rem(5) rem(8);
	border-radius: rem(8);
	svg {
		font-size: rem(16);
	}
}