mixin sForWhom(data)
	// start sForWhom
	+b.SECTION.sForWhom.section#sForWhom&attributes(attributes)
		.container
			+e.inner
				+b.section-title
					h2 Для кого курс?
					p Этот курс вам поможет, если вы&nbsp;ответили &laquo;Да&raquo; хотя&nbsp;бы на&nbsp;несколько пунктов
				ol
					mixin item(p)
						li!= p
					+item(`Недержание мочи (подтекание)`)
					+item(`Попадание воздуха во&nbsp;влагалище`)
					+item(`Хроническое воспаление`)
					+item(`Боль во&nbsp;время полового акта`)
					+item(`Сложности в&nbsp;достижении оргазма`)
					+item(`Хроническая тазовая боль`)
					+item(`Боль в&nbsp;пояснице во&nbsp;время упражнений на&nbsp;пресс`)
					+item(`Нарушение работы кишечника (запоры, вздутия)`)
					+item(`Вываливающийся даже после стакана воды живот`)
					+item(`Пролапс (выпадение выпячивание органов тазового дна)`)
					+item(`Частое мочеиспускание днем/ ночью`)
					+item(`Боли в&nbsp;пояснице`)
					+item(`Диастаз`)
					+item(`Низкое либидо`)
				.text-center
					+e.btn(href="#") Купить курс
					
	// end sForWhom

mixin sForWhom2(data)
	// start sForWhom
	+b.SECTION.sForWhom.section#sForWhom&attributes(attributes)
		.container
			+e.inner
				+b.section-title
					h2 Для кого курс?
					p Этот курс вам поможет, если вы&nbsp;ответили &laquo;Да&raquo; хотя&nbsp;бы на&nbsp;несколько пунктов
				ol
					mixin item(p)
						li!= p
					+item(`Недержание мочи (подтекание)`)
					+item(`Попадание воздуха во&nbsp;влагалище`)
					+item(`Хроническое воспаление`)
					+item(`Боль во&nbsp;время полового акта`)
					+item(`Сложности в&nbsp;достижении оргазма`)
					+item(`Хроническая тазовая боль`)
					+item(`Боль в&nbsp;пояснице во&nbsp;время упражнений на&nbsp;пресс`)
					+item(`Нарушение работы кишечника (запоры, вздутия)`)
				.text-center
					+e.btn(href="#") Купить курс
					
	// end sForWhom