// start .sCourseCard
.sCourseCard {
		--sPT: #{rem(75)};
		// --sPB: ;
		// --sTPB: ;
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(122)};
	}
	picture {
		max-width: rem(324);
		margin-left: auto;
		margin-right: auto;
		margin-top: rem(-74);
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			max-width: none;
			margin-bottom: 0;
			img {
				max-width: none;
			}
		}
	}
	h3 {
		margin-bottom: rem(32);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(14);
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		width: 100%;
    max-width: rem(312);
		margin-top: rem(24);
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCourseCard