// start .sRegistration
.sRegistration {
	// --sPT: 0;
	// --sPB: 0;
	// --sTPB: ;
	display: flex;
	align-items: center;
	flex-grow: 1;
	@include media-breakpoint-up(lg) {
		background-color: $background;
	}
	.container {
		@include media-breakpoint-up(lg) {
			padding: 0;
			max-width: 100%;
		}
		& > .row {
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: 0;
				align-items: flex-end;
			}
		}
	}

	&__col {
		height: 100%;
		@include media-breakpoint-up(lg) {
			min-height: 100vh;
		}
		&:first-child {
			display: none;
			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: flex-end;
				justify-content: center;
			}
		}
		&:last-child {
			@include media-breakpoint-up(lg) {
				background-color: $white;
				border-radius: rem(16) 0 0 rem(16);
			}
		}
	}
	&--auth {
		.sRegistration__col {
			&:first-child {
				@include media-breakpoint-up(lg) {
					align-items: center;
				}
			}
		}
	}
	.soc--reg {
		margin-bottom: rem(40);
	}

	.form-wrap {
		width: 100%;
		padding: rem(32) 0 rem(40);
		@include media-breakpoint-up(md) {
			padding: rem(65) rem(16);
		}
		@include media-breakpoint-up(lg) {
			// padding: rem(85) rem(16);
			align-self: center;
			max-width: rem(640);
		}
		h1 {
			color: $dark;
			@extend .h3;
			max-width: 100%;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(16);
			}
		}
		form {
			max-width: rem(375);
			margin-left: auto;
			margin-right: auto;
		}
		&__link-wrap {
			a {
				display: inline-block;
			}
		}
		&__btn {
			@extend .btn, .btn-primary;
			width: 100%;
			max-width: rem(374);
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sRegistration
