// start .sUserConsult
.sUserConsult {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	--sPT: #{rem(16)};
	--sPB: 0;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(16)};
		--sPB: #{rem(5)};
	}
	.container {
		@include media-breakpoint-up(md) {
			max-width: rem(860);
		}
		& > .row {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: var(--bs-gutter-x);
		}
		& > p {
			text-align: center;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(32);
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 1px solid $background;
		border-radius: 16px;
		padding: rem(15);
		max-width: rem(425);
		margin-left: auto;
		margin-right: auto;
		height: 100%;
	}
	&__content {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-bottom: rem(15);
		margin-bottom: rem(12);
		flex-grow: 1;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% + #{rem(32)});
			height: 1px;
			left: rem(-16);
			bottom: 0;
			background-color: $background;
		}
		p {
			margin-bottom: rem(8);
			&:last-of-type {
				flex-grow: 1;
			}
		}
		span {
			font-size: rem(14);
			line-height: calc(16 / 14);
			&:first-child {
				font-weight: 500;
			}
			&:last-child {
				color: $gray-dark;
			}

		}
		.row {
			--bs-gutter-x: #{rem(8)};
		}
		picture {
			background-color: $background;
			width: rem(32);
			height: rem(32);
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&__date {
		padding-right: rem(24);
		margin-bottom: rem(15);
		font-size: rem(17);
		font-weight: 500;
	}
	&__btn-cancel {
		position: absolute;
		width: rem(20);
		height: rem(20);
		right: rem(13);
		top: rem(13);
		z-index: 3;
		&:not(:hover) {
			color: $dark;
		}
		.icon {
			@include a-cent;
			font-size: rem(16);
		}
	}
	.btn-next {
		display: inline-flex;
		align-items: center;
		font-size: rem(16);
		line-height: 1;
		&:not(:hover) {
			color: $dark;
		}
		.icon {
			stroke-width: 0.8px;
    	font-size: 10px;
			fill: none;
			stroke: $dark;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sUserConsult

.btn-next {
	display: inline-flex;
	align-items: center;
	font-size: rem(16);
	line-height: 1;
	&:not(:hover) {
		color: $dark;
	}
	.icon {
		font-size: inherit;
	}
}
