// start .sReviews
.sReviews {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	.section-title {
		position: relative;
		color: $primary;
		h2 {
			max-width: 9.6em;
			margin-left: auto;
			margin-right: auto;
			span {
				display: inline-block;
				margin: 0 0.15em;
				&:first-child {
					picture {
						margin-right: 0;
					}
				}
				
			}
		}
		picture {
			display: inline-block;
			margin: 0 -0.2em;
			img	{
				width: 0.63em;
				height: 0.63em;
				border-radius: 32px 0 32px 32px;
			}
		}
	}
	.count {
		margin-bottom: rem(32);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(60);
		}
	}
	&__slider {
		overflow: visible;
		padding-bottom: 45px;
		@include media-breakpoint-up(md) {
			padding-bottom: 80px;
		}
	}
	&__slide {
		@include mt;
		max-width: rem(196);
		margin-right: rem(48);
		@include media-breakpoint-up(md) {
			margin-right: rem(135);
			&:nth-child(2) {
				margin-right: rem(96);
			}
		}
		@include media-breakpoint-up(md) {
			max-width: rem(336);
		}
		// &.swiper-slide-active {
			
		// 	@include media-breakpoint-up(md) {
		// 		transform: translateY(25px);
		// 	}
		// }
		&.swiper-slide-next {
			transform: translateY(45px);
			@include media-breakpoint-up(md) {
				transform: translateY(52px);
			}
		}
		&.swiper-slide-next + .swiper-slide {
			transform: translateY(-10px);
			@include media-breakpoint-up(md) {
				transform: translateY(-25px);
			}
		}
	}
	&__item {
		display: block;
		cursor: pointer;
		color: $white;
		&:hover {
			.icon {
				opacity: 0.8;
			}
		}
		picture {
			@include block(304, 230);
			// display: inline-block;
			::after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				//border-radius: 34px 0 34px 34px;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.01);
				top: 0;
				left: 0;
			}
			// ::before {
			// 	content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56ZM21.1889 36.8266V20.6938C21.1889 19.5313 22.4131 18.7759 23.4521 19.2972L39.5849 27.3911C40.7358 27.9685 40.7335 29.612 39.5811 30.1862L23.4483 38.2251C22.4095 38.7427 21.1889 37.9872 21.1889 36.8266Z' fill='white'/%3e%3c/svg%3e ");
			// 	display: block;
			// 	position: absolute;
			// 	width: 56px;
			// 	height: 56px;
			// 	box-shadow: 0px 0px 8px rgba($color: #D67644, $alpha: 0.08);
			// 	border-radius: 50%;
			// 	top: 50%;
			// 	right: 50%;
			// 	transform: translate(50%, -50%);
			// 	@include media-breakpoint-down(sm) {
			// 		width: 40px;
			// 		height: 40px;
			// 	}
			// }
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		h3 {
			display: flex;
			flex-direction: column;
			line-height: 1;
			max-width: rem(336);
			color: $dark;
			margin-bottom: 0;
			@include media-breakpoint-down(md) {
				font-size: rem(28);
			}
			:first-child {
				align-self: flex-end;
			}
			:last-child {
				margin-left: 1em;
				
			}
		}
	}
	&__img-wrap {
		position: relative;
		border-radius: 34px 0 34px 34px;
		overflow: hidden;
		max-width: 90%;
		margin-bottom: 8px;
		@include media-breakpoint-up(md) {
			margin-bottom: 16px;
		}
		.icon {
			@include a-cent;
			font-size: rem(40);
			@include media-breakpoint-up(md) {
				font-size: rem(56);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} 
// end.sReviews

.fancybox__caption {
	font-size: rem(32);
	margin-right: auto;
	@include media-breakpoint-up(lg) {
		margin-right: rem(250);
	}
	@include media-breakpoint-up(md) {
		margin-right: rem(380);
	}
	@include media-breakpoint-down(sm) {
		font-size: 1.6em;
	}
}

.count {
	@include roww(22px, m);
	@include media-breakpoint-up(md) {
		// padding: 0 1.3em;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem(8) 0;
	max-width: 23.375em;
	margin-left: auto;
	margin-right: auto;
	background-image: radial-gradient(96.71% 173.05% at 9.26% 11.36%, #FFFDFC 0%, #F9EDDA 77.15%, #FFD4C1 100%);
	border-radius: 16px;
	h3 {
		// display: inline-block;
		margin-bottom: 0;
	}
	p {
		// display: inline-block;
		font-size: rem(16);
		// margin-left: rem(22);
		margin-bottom: 0;
		max-width: rem(155);
	}
}