// start .sReviews
.sReviews {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	.section-title {
		position: relative;
		color: $primary;
	}

	.section-img {
		position: absolute;
	}
	
	.section-img__1 {
		top: 50%;	
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sReviews