mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2
					span Отзывы#[+pic('sReviews-1.jpg')]
					span уч#[+pic('sReviews-2.jpg')]стниц
					span курс#[+pic('sReviews-3.jpg')]в
			.text-center
				+b.count
					h3 15 000
					p женщин купили наши курсы тренировок
			//- +e.wrraper
			+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					mixin item(n, i, caption, l, ...items) 
						+e.slide.swiper-slide
							+e.item(href="https://www.youtube.com/watch?v=z2X2HaTvkl8", data-fancybox=`sReviews-gallery-ref-${n}`, data-caption=`${caption}`)
								+e.img-wrap
									+pic(`sReviews-slider-${i}.jpg`, "bg", 0)
									+icon("youtube-play")
								h3
									each item in items
										span!= item
					+item(1, 1, "Отзыв от Salma Theron", `https://www.youtube.com/watch?v=z2X2HaTvkl8`, `Salma`, `Theron`)
					+item(2, 2, "Отзыв от Натальи Бурковой", `https://www.youtube.com/watch?v=qwi6POwtfnc`, `Буркова`, `Наталья`)
					+item(3, 3, "Отзыв от Анжелины Терон", `https://www.youtube.com/watch?v=HE2OlPmH7xs`, `Анжелина`, `Терон`)
					+item(4, 1, "Отзыв от Salma Theron", `https://www.youtube.com/watch?v=z2X2HaTvkl8`, `Salma`, `Theron`)
					+item(5, 2, "Отзыв от Натальи Бурковой", `https://www.youtube.com/watch?v=qwi6POwtfnc`, `Буркова`, `Наталья`)
					+item(6, 3, "Отзыв от Анжелины Терон", `https://www.youtube.com/watch?v=HE2OlPmH7xs`, `Анжелина`, `Терон`)
	// end sReviews				