mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы<br>участниц курсов
				+pic('reviewIMG-1', '', 0).section-img.section-img__1
				+pic('reviewIMG-2', '', 0).section-img.section-img__2
				+pic('reviewIMG-3', '', 0).section-img.section-img__3
				
			.row
	// end sReviews