mixin sConsulOptions(data)
	// start sConsulOptions
	+b.sConsulOptions.section#sConsulOptions&attributes(attributes)
		.container
			+e.BUTTON(type='button').btn Задать вопрос
			+pugin()
				 
	// end sConsulOptions