:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
	& > .carousel__button.is-close {
		--fancybox-color: #{$dark};
		top: rem(16);
		right: rem(16);
	}
}
.fancybox__slide {
	--carousel-button-width: 32px;
	--carousel-button-height: 32px;

	--carousel-button-svg-width: 24px;
	--carousel-button-svg-height: 24px;

	--carousel-button-svg-stroke-width: 1;
	--carousel-button-svg-filter: none;
	@include media-breakpoint-down(sm) {
		padding: 0;
		overflow-x: hidden;
	}
}
.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}
.modal-win {
	// display: block;
	max-width: 100%;
	background-color: #fff;
	position: relative;
	width: rem(565);
	padding: 8.384vw 4.442vw;
	@include media-breakpoint-up(sm) {
		border-radius: rem(16);
		padding: rem(48);
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	.form-wrap {
		form {
			max-width: rem(374);
			margin-left: auto;
			margin-right: auto;
		}
		textarea {
			min-height: rem(120);
			padding: rem(12);
		}
		&__btn {
			width: 100%;
			margin-top: rem(5);
		}
		&__heading {
			text-align: center;
			margin-bottom: rem(24);
			h3 {
				margin-bottom: rem(8);
			}
			p {
				font-size: rem(16);
				line-height: calc(24 / 16);
				margin-bottom: 0;
				@include media-breakpoint-up(sm) {
					line-height: 1;
				}
			}
		}
		&__agreement {
			text-align: center;
			margin-top: rem(16);
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

// .modal-win--team {
// 	// max-width: rem(450);
// 	max-width: rem(565);
// 	// padding: rem(32) rem(16);
// 	padding: 8.384vw 4.442vw;
// 	@include media-breakpoint-up(sm) {
// 		border-radius: rem(16);
// 		padding: rem(48);
// 	}
// }

.team-more {
	&__galery {
		.row {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: var(--bs-gutter-x);
			margin-top: calc(var(--bs-gutter-y) * -0.3);
			@include media-breakpoint-up(sm) {
				--bs-gutter-x: #{rem(16)};
				margin-top: 0;
				// margin-top: calc(var(--bs-gutter-y) * 0.5);
			}
		}
	}
	&__header {
		text-align: center;
		color: $primary;
		margin-bottom: rem(16);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(20);
		}
		picture {
			img {
				border-radius: 50%;
			}
		}
		h5 {
			margin-top: rem(11);
		}
		span {
			display: inline-block;
			border: 1px solid rgba(214, 118, 68, 0.4);
			border-radius: 8px 8px 8px 0px;
			margin-top: rem(4);
			padding: 3px 8px 5px 8px;
		}
	}
	&__paragraph {
		margin-bottom: rem(16);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(24);
		}
		p {
			color: $dark;
			margin-bottom: rem(8);
			@include media-breakpoint-up(sm) {
				margin-top: rem(8);
				margin-bottom: rem(16);
			}
		}
	}
	&__subtitle {
		display: block;
		font-weight: 500;
		font-size: rem(17);
		line-height: calc(24 / 17);
		color: $dark;
	}
	&__link {
		position: relative;
		display: block;
		color: $dark;
		picture {
			@include block(152, 214);
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		span {
			position: absolute;
			bottom: 0;
			right: 0;
			display: inline-block;
			padding: 4px;
			background-color: rgba($color: #fff, $alpha: 0.89);
			.icon {
				font-size: 16px;
			}
		}
	}
	.pricing-block {
		padding-top: rem(30);
		margin-top: rem(24);
		border-top: 1px solid $gray-light;
		@include media-breakpoint-up(sm) {
			margin-top: rem(32);
		}
		.row {
			justify-content: center;
		}
		&__btn {
			min-width: rem(196);
			@include media-breakpoint-up(sm) {
				min-width: rem(212);
			}
		}
		&__agreement {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: rem(16);
			text-align: center;
			font-size: rem(12);
			line-height: calc(16 / 12);
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
				line-height: calc(16 / 14);
			}
		}
	}
	.footer {
		margin-top: rem(25);
		@include media-breakpoint-up(sm) {
			display: none;
		}
		.container {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
	}
}

.modal-cancel {
	text-align: center;
	max-width: rem(374);
	margin-left: auto;
	margin-right: auto;
	h5 {
		color: $primary;
		text-align: center;
		margin-bottom: rem(24);
		max-width: 14em;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(32);
		}
	}
	.btn {
		width: rem(265);
		max-width: 100%;
	}
	.row {
		--bs-gutter-x: #{rem(8)};
	}
}

//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
	.fancybox__container {
		width: 100% !important;
		min-height: 100%;
		transform: none !important;
	}
}
.form-wrap {
	h3 {
		text-align: center;
		max-width: 8em;
		margin-left: auto;
		margin-right: auto;
		color: $primary;
		margin-bottom: rem(24);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(27);
		}
	}
	&__password-wrap {
		position: relative;
		input {
			padding-right: rem(45);
		}
	}
	&__btn-toggle-pass {
		@include a-cent(y);
		right: rem(12);
		width: rem(24);
		height: rem(24);
		cursor: pointer;
		color: $primary;
		&:hover {
			color: $link-hover-color;
		}
		&.on {
			color: $gray-medium;
		}

		.icon {
			@include mt;
			font-size: rem(24);
		}
	}
	&__row {
		&-date {
			--bs-gutter-x: #{rem(8)};
			--bs-gutter-y: #{rem(12)};
			.form-wrap__input {
				&.input-date-picker-js,
				&.input-date-picker-single-js {
					padding: rem(4.75);
					padding-left: rem(27);
					margin-bottom: 0;
					width: rem(115);
					text-align: center;
					&:not(:focus) {
						border: 1px solid $gray-light;
					}
					&:hover {
						border-color: $primary;
					}
					&::placeholder {
						color: $dark;
					}
				}
			}
			.custom-input {
				padding: 0;

				&__text {
					@include mt;
					display: inline-block;
					padding: rem(7);
					margin-bottom: 0;
					border: 1px solid $gray-light;
					border-radius: 8px;
					cursor: pointer;
					&:hover {
						border-color: $primary;
					}
				}
				&__input {
					@extend .invisible;
				}
				&__input[type="radio"] {
					&:checked ~ .custom-input__text {
						background-color: $gray-light;
					}
					&:disabled ~ .custom-input__text {
						pointer-events: none;
					}
				}
			}
		}
		&-time {
			--bs-gutter-x: #{rem(4)};
			--bs-gutter-y: #{rem(8)};
			.custom-input {
				padding: 0;
				margin-bottom: 0;
				&__text {
					@include mt;
					display: inline-block;
					padding: rem(3);
					margin-bottom: 0;
					background-color: rgba(255, 205, 124, 0.5);
					border: 1px solid rgba(255, 205, 124, 0.5);
					border-radius: 8px;
					cursor: pointer;
					&:hover {
						border-color: $primary;
					}
				}
				&__input {
					@extend .invisible;
				}
				&__input[type="radio"] {
					&:checked ~ .custom-input__text {
						color: $white;
						background-color: $primary;
					}
					&:disabled ~ .custom-input__text {
						background-color: $gray-light;
						pointer-events: none;
					}
				}
			}
		}
	}
	.pricing-block {
		padding-top: rem(30);
		margin-top: rem(24);
		border-top: 1px solid $gray-light;
		@include media-breakpoint-up(sm) {
			margin-top: rem(32);
		}
		.row {
			justify-content: center;
		}
		&__btn {
			min-width: rem(196);
			@include media-breakpoint-up(sm) {
				min-width: rem(212);
			}
		}
		&__agreement {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: rem(16);
			text-align: center;
			font-size: rem(12);
			line-height: calc(16 / 12);
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
				line-height: calc(16 / 14);
			}
		}
	}
	.footer {
		margin-top: rem(25);
		@include media-breakpoint-up(sm) {
			display: none;
		}
		.container {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
	}
}
