// start .sContact
.sContact {
	--sPT: #{rem(32)};
	--sPB: #{rem(16)};
	--sTPB: #{rem(8)};
	background-image: var(--headBg);
	position: relative;
	.container{
		@media (min-width: 1920px){
			max-width: rem(2400);
		}
	}
	@include media-breakpoint-up(md) {
		--sPT: #{rem(87)};
		--sPB: #{rem(33)};
		--sTPB: #{rem(8)};
	}
	@include media-breakpoint-up(xl) {
		--sTPB: #{rem(16)};
		.container{
			max-width: 1920px;
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: calc(var(--sPB) + 1px);
		left: 0;
		bottom: -1px;
		border-radius: 24px 24px 0 0;
		background-color: $white;
	}
	.row {
		--bs-gutter-y: #{rem(8)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(16)};
		}
	}
	.section-title {
		h1 {
			@extend .h2;
			color: $primary;
		}
	}
	picture {
		text-align: center;
		img {
			// max-width: unset;
			// width: calc(100% + var(--bs-gutter-x));
			// margin-left: calc(-1 * var(--bs-gutter-x) / 2);
			// @include media-breakpoint-up(lg) {
			// 	width: calc(100% + var(--bs-gutter-x) * 2);
			// 	margin-left: calc(-1 * var(--bs-gutter-x) * 2);
			// }
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		// margin-top: rem(107);
		// height: calc(100% - var(--bs-gutter-y));
		height: 100%;
		@include media-breakpoint-up(lg) {
			padding-bottom: 15%;
		}
	}
	&__email {
		@extend .h5;
		margin-bottom: rem(8);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(16);
		}
		&:not(:hover) {
			color: $dark;
		}
	}
	&__tel {
		@extend .h5;
		margin-bottom: 0;
		&:not(:hover) {
			color: $dark;
		}
	}
	&__social {
		margin-top: rem(16);
		@include media-breakpoint-up(xl) {
			margin-top: rem(40);
		}
		p {
			margin-bottom: rem(16);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact
