// start .sSexEducChapter
.sSexEducChapter {
	--sPT: #{rem(12)};
	--sPB: #{rem(12)};
	--sTPB: #{rem(16)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(24)};
	}

	.container {
		@include media-breakpoint-up(xl) {
			max-width: 990px;
		}
	}
	.section-title {
		h4 {
			color: $primary;
		}
	}
	&__slider {
		position: relative;
		overflow: visible;
		--slideMargin: #{rem(16)};
		--slideWidth: #{rem(227)};
		--arrowVertPos: calc(var(--slideWidth) * 1.211 / 2 - #{rem(20)});
		@include media-breakpoint-up(sm) {
			--slideWidth: #{rem(246)};
		}
		@include media-breakpoint-up(md) {
			--slideWidth: #{rem(218.66)};
		}
		@include media-breakpoint-up(lg) {
			--slideWidth: #{rem(220)};
		}
		@include media-breakpoint-up(xl) {
			--slideWidth: #{rem(227.5)};
		}

		@include media-breakpoint-up(sm) {
			&::before {
				content: "";
				position: absolute;
				height: 100%;
				top: 0;
				right: calc(100% + rem(15));
				width: calc((100vw - 100%) / 2);
				background-color: $white;
				z-index: 5;
			}
			&::after {
				content: "";
				position: absolute;
				height: 100%;
				top: 0;
				left: calc(100% + rem(15));
				width: calc((100vw - 100%) / 2);
				background-image: linear-gradient(
					271.96deg,
					#ffffff 51.1%,
					rgba(255, 255, 255, 0.87) 79.05%,
					rgba(255, 255, 255, 0.88) 98.61%
				);
				z-index: 5;
			}
		}
		.swiper-button-hand {
			margin-top: 0;
			margin-bottom: 0;
			bottom: 0;
			top: var(--arrowVertPos);
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
	&__slide {
		max-width: var(--slideWidth);
		margin-right: rem(16);
		height: auto;
	}
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		&:not(:hover) {
			color: #c26d61;
		}

		picture {
			@include block(227, 275);
			border-radius: 16px;
			overflow: hidden;
			background-color: $gray-light;
			margin-bottom: rem(8);
			&::after {
				content: "";
				@include a-cent;
				width: rem(48);
				height: rem(48);
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M38 6C40.2 6 42 7.8 42 10V38C42 40.2 40.2 42 38 42H10C7.8 42 6 40.2 6 38V10C6 7.8 7.8 6 10 6H38ZM22 33.02L17 27L10 36H38L29 24L22 33.02Z' fill='%23C0B1AA'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}
		}
		p {
			font-size: rem(16);
			line-height: calc(24 / 16);
			font-weight: 500;
			flex-grow: 1;
			@include media-breakpoint-up(md) {
				font-size: rem(17);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSexEducChapter
