// start .sAccess
.sAccess {
	// --sPB: ;
	--spacing: #{rem(8)};
	--sTPB: #{rem(48)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(80)};
		--sPT: 64px;
		--sPB: 48px;
	}
	@include media-breakpoint-only(md) {
		--spacing: #{rem(6)};
	}
	.container {
		@include media-breakpoint-up(md) {
			max-width: rem(910);
		}
	}
	.row {
		--bs-gutter-x: 0;
		margin-top: rem(24);
		// @include media-breakpoint-up(md) {
		// 	--bs-gutter-y: #{rem(24)};
		// }
	}
	.section-title {
		// max-width: rem(328);
		// margin-left: auto;
		// margin-right: auto;
		// @include media-breakpoint-up(sm) {
		// 	max-width: rem(400);
		// 	max-width: rem(400);
		// }
		// @include media-breakpoint-up(md) {
		// 	max-width: 100%;
		// }
		h2 {
			color: $primary;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: calc(var(--spacing) * 2);
		}
		p {
			@extend .medium-subtitle;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md) {
				max-width: 27.7em;
			}
		}
	}

	&__label {
		position: absolute;
		display: inline-block;
		left: 0;
		top: rem(-24);
		padding: rem(3) rem(11.85) rem(37);
		background-color: $primary;
		color: $white;
		border-radius: 12px;
		z-index: -1;
	}

	&__col {
		&:first-child {
			.sAccess__item {
				@include media-breakpoint-down(md) {
					border-radius: $border-radius-lg $border-radius-lg 0 0;
				}
			}
		}
		&:last-child {
			.sAccess__item {
				@include media-breakpoint-down(md) {
					border-radius: 0 0 $border-radius-lg $border-radius-lg;
				}
			}
		}
		&:not(:last-child) {
			.sAccess__item {
				@include media-breakpoint-down(md) {
					border-bottom: none;
				}
			}
		}
		&:nth-child(2) {
			.sAccess__item {
				@include media-breakpoint-up(md) {
					&:after {
						content: "";
						position: absolute;
						height: 95.2%;
						width: 1px;
						right: -1px;
						top: 2.4%;
						background-color: $gray-light;
						z-index: 1;
					}
				}
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		// max-width: rem(328);
		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2);
		margin-left: auto;
		margin-right: auto;
		// background-color: $background;
		border: 1px solid $gray-light;
		background-color: $white;
		// margin-top: rem(24);
		@include media-breakpoint-up(sm) {
			max-width: rem(400);
		}
		@include media-breakpoint-up(md) {
			height: 100%;
			border: none;
			padding: calc(var(--spacing) * 4) calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2);
			border-radius: rem(16);
			margin-left: 0;
			margin-right: 0;
		}
		// @include media-breakpoint-only(md) {
		// 	font-size: rem(14);
		// }

		&--popular {
			background-image: radial-gradient(167.29% 93.4% at 96.1% 8.61%, #fffdfc 0%, #f9edda 70.24%, #ffd4c1 100%);
			border: none;
			.sAccess__conditions {
				&:before {
					background-color: $gray-medium;
				}
			}
			// .sAccess__price-wrap {
			// 	@include media-breakpoint-down(md) {
			// 		margin-bottom: var(--spacing);
			// 	}
			// 	.sAccess__price {
			// 		@include media-breakpoint-down(md) {
			// 			padding-top: calc(var(--spacing) * 4.6);
			// 			padding-bottom: calc(var(--spacing) * 3);
			// 		}
			// 	}
			// }
			// .sAccess__item-footer {
			// 	@include media-breakpoint-down(md) {
			// 		display: block;
			// 	}
			// }
			// .sAccess__btn {
			// 	@include media-breakpoint-down(md) {
			// 		margin-top: var(--spacing);
			// 	}
			// }
		}

		ul {
			list-style: none;
			margin-bottom: calc(var(--spacing) * 2);
			@include media-breakpoint-up(xxl) {
				margin-bottom: calc(var(--spacing) * 4.5);
			}
			li {
				position: relative;
				padding-left: calc(var(--spacing) * 3);
				&::before {
					content: "";
					position: absolute;
					width: calc(var(--spacing) * 2);
					height: calc(var(--spacing) * 2);
					left: 0;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.00133 8.47139L11.7656 12.2357L12.237 11.7643L8.47273 7.99999L12.237 4.23569L11.7656 3.76428L8.00133 7.52858L4.23703 3.76428L3.76562 4.23569L7.52992 7.99999L3.76562 11.7643L4.23703 12.2357L8.00133 8.47139Z' fill='%23C0B1AA'/%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-size: contain;
				}

				&.check {
					&::before {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.66797 8.33333L6.33464 11L12.3346 5' stroke='%23653E28'/%3e%3c/svg%3e ");
					}
				}
				&:not(.check) {
					color: $gray-medium;
				}
				&:nth-child(odd) {
					padding-top: var(--spacing);
					padding-bottom: calc(var(--spacing) / 2);
					@include media-breakpoint-up(sm) {
						padding-top: calc(var(--spacing) * 2);
						padding-bottom: var(--spacing);
					}
					// border-top: 1px solid $gray-light;
					&::before {
						top: calc(var(--spacing) + 1px);
						@include media-breakpoint-up(sm) {
							top: calc(var(--spacing) * 2 + 1px);
						}
					}
					&::after {
						content: "";
						position: absolute;
						width: calc(100% + calc(var(--spacing) * 2));
						height: 1px;
						left: calc(-1 * var(--spacing));
						top: 0;
						background-color: $gray-light;
						@include media-breakpoint-up(md) {
							width: calc(100% - calc(var(--spacing) * 3));
							left: calc(var(--spacing) * 3);
						}
					}
				}
				&:nth-child(even) {
					padding-bottom: var(--spacing);
					padding-top: calc(var(--spacing) / 2);
					@include media-breakpoint-up(sm) {
						padding-bottom: calc(var(--spacing) * 2);
						padding-top: var(--spacing);
					}
					&::before {
						top: calc(var(--spacing) / 2);
						@include media-breakpoint-up(sm) {
							top: var(--spacing);
						}
					}
				}
				span {
					display: block;
				}
			}
		}
	}

	&__item-heading {
		position: relative;
		margin-bottom: calc(var(--spacing) * 2);
		padding-right: rem(56);
		@include media-breakpoint-up(md) {
			padding-right: 0;
			padding-left: calc(var(--spacing) * 3);
			margin-bottom: 0;
		}
		h4 {
			font-family: $font-family-sans-serif;
			font-weight: 500;
		}
		p {
			line-height: calc(24 / 17);
			font-weight: 500;
			margin-bottom: var(--spacing);
			@include media-breakpoint-up(xl) {
				font-size: rem(17);
			}
		}
		.sAccess__price {
			justify-content: flex-start;
			padding: 0;
			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	&__item-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		display: none;
		@include media-breakpoint-up(md) {
			display: flex !important;
		}
	}

	&__item-footer {
		margin-top: auto;
		padding-bottom: calc(var(--spacing) * 2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-down(md) {
		}
		@include media-breakpoint-up(md) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding-bottom: calc(var(--spacing) * 5);
		}
	}

	&__price-wrap {
		text-align: center;
		position: relative;
		@include media-breakpoint-up(md) {
			margin-bottom: var(--spacing);
		}
		.small {
			position: absolute;
			@include a-cent(x);
			bottom: 0;
			line-height: calc(16 / 14);
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
	&__btn-wrap {
		text-align: center;
	}

	&__benefit {
		// @extend .btn, .btn-outline-primary;
		position: absolute;
		@include a-cent(x);
		top: 0;
		display: inline-block;
		padding: rem(4) rem(8);
		border: 1px solid #d67644;
		max-width: 7.6em;
		border-radius: $border-radius;
		color: $primary;
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	&__price {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		color: $primary;
		@include media-breakpoint-up(md) {
			padding-top: calc(var(--spacing) * 5.6);
			padding-bottom: calc(var(--spacing) * 3.375);
		}
		span {
			display: inline-block;
			line-height: 1;
		}
		& > span {
			&:first-child {
				margin-right: 0.5em;
			}
			&:last-child {
				margin-left: -0.5em;
			}
		}
	}

	&__num {
		display: flex;
		font-family: "Lovelace";
		@include rfs(62px);

		line-height: calc(52 / 62);
		span {
			font-size: 0.5em;
			margin-left: 0.13em;
		}
	}
	&__conditions {
		flex-direction: column;
		color: $gray-medium;
		display: flex;
		position: relative;
		padding-top: var(--spacing);
		width: 100%;
		@include media-breakpoint-up(md) {
			text-align: center;
		}
		&::before {
			@include media-breakpoint-up(md) {
				content: "";
				position: absolute;
				width: calc(100% - var(--spacing) * 3);
				height: 1px;
				top: 0;
				left: calc(var(--spacing) * 1.5);
				background-color: $background;
			}
		}
	}
	&__btn {
		// @include mt;
		display: inline-block;
		max-width: 100%;
		border: 1px solid $primary;
		min-width: rem(145);
		@include media-breakpoint-up(md) {
			width: rem(226);
			margin-top: calc(var(--spacing) * 2);
		}
		@include media-breakpoint-down(sm) {
			font-size: rem(15);
		}
		@include media-breakpoint-down(md) {
			color: $white !important;
			background-color: $primary;
			&:active {
				background-color: $primary;
				border-color: $primary;
				// box-shadow: none;
			}
			&:focus {
				background-color: #ef8249;
				border-color: #ef8249;
				box-shadow: none;
			}
			&:focus:active {
				box-shadow: none;
			}
			&:hover {
				background-color: #ef8249;
				border-color: #ef8249;
				box-shadow: 0px rem(20) rem(24) rgba(214, 118, 68, 0.2);
			}
		}
	}
	&__btn-accordion {
		@extend .btn, .btn-primary;
		@include a-cent(y);
		width: rem(40);
		height: rem(40);
		right: 0;
		border-radius: 50%;
		padding: 0;
		@include media-breakpoint-up(md) {
			display: none;
		}
		.icon {
			@include a-cent;
			@include mt;
			top: 1px;
			font-size: rem(7);
		}
		&.on {
			.icon {
				transform: rotateX(180deg);
			}
		}
	}
	&--cabinet {
		--sPT: #{rem(16)};
		--sPB: 0;
		@include media-breakpoint-up(md) {
			--sPT: #{rem(16)};
			--sPB: #{rem(5)};
		}
		.container {
			@include media-breakpoint-up(md) {
				max-width: rem(876);
			}
		}
		.sAccess__item {
			max-width: rem(400);
			&::after {
				display: none;
			}
		}
		.sAccess__subtitle {
			@extend .medium-subtitle;
			text-align: center;
			margin-bottom: rem(55);
			font-weight: 400;
			max-width: rem(860);
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(80);
			}
			span {
				font-weight: 500;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAccess
