// start .sArticleBodyIntoduction
.sArticleBodyIntoduction {
	--sPT: #{rem(3)};
	--sPB: #{rem(21)};
		// --sTPB: ;
	.row {
		justify-content: center;
	}
	picture {
		margin-top: rem(24);
		@include media-breakpoint-up(lg) {
			margin-top: rem(32);
		}
	}
	.col {
		& > span {
			display: inline-block;
			color: $gray-dark;
			font-size: rem(14);
			line-height: rem(16);
			margin-top: rem(8);
			margin-left: rem(4);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticleBodyIntoduction

.article-body-introduction {
	// @include media-breakpoint-up(lg) {
	// 	margin-left: rem(195);
	// }
	p{
		line-height: rem(24);
		& > span {
			@include media-breakpoint-up(lg) {
				color: $primary;
			}
		}
		@include media-breakpoint-up(lg) {
			line-height: rem(16);
		}
	}
	& > ul{
		margin-left: rem(32);
		@include media-breakpoint-up(lg) {
			margin-left: rem(64);
		}
		margin-bottom: 0;
		& > li {
			line-height: rem(24);
			&:first-of-type {
				margin-bottom: rem(24);
			}
			&:last-of-type {
				margin-top: rem(24);
			}
			@include media-breakpoint-up(lg) {
				line-height: rem(16);
			}
		}
	}
	&__sublist {
		margin-left: rem(32);
		& > li {
			margin-top: rem(16);
		}
	}
}