.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html {
	// overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	// margin-right: calc(-1 * (100vw - 100%));
	&.fixed,
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// @include media-breakpoint-up(md) {
	// 	min-width: 1200px;
	// }
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	@include mt;
	// 	// background-color: $body-color;
	// 	background-color: rgba($body-color, 0.8);
	// 	backdrop-filter: blur(5px);
	// 	opacity: 0;
	// 	z-index: -1;
	// 	// left: 200px;
	// 	left: 0;
	// 	// opacity: 1;
	// 	// z-index: 1;
	// 	top: 0;
	// }

	&.fancybox-active {
		overflow: hidden;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: rem(64);
	@include media-breakpoint-up(md) {
		padding-bottom: 0;
	}

	// display: flex;
	// flex-direction: row;
	// /	overflow: scroll;
	// width: 100%;
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			transform: transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		// &.active {
		// }
	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #e6e6e6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary);
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

// img {
// 	content-visibility: auto;
// }
picture {
	display: block;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }

.custom-scroll {
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	--bs-primary: #dedede;

	& {
		scrollbar-width: auto;
		scrollbar-color: var(--bs-primary) transparent;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--bs-primary);
		border-radius: 16px;
		border: 0px solid transparent;
	}
}

.input-date-picker-js,
.input-date-picker-single-js,
::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.16654 0.666504C3.16654 0.390362 2.94269 0.166504 2.66654 0.166504C2.3904 0.166504 2.16654 0.390362 2.16654 0.666504V1.87745C1.17116 2.01818 0.384796 2.80547 0.251678 3.80973L0.193977 4.24503C0.184194 4.31883 0.17484 4.39268 0.165914 4.46656C0.142236 4.66253 0.29664 4.83317 0.494044 4.83317H11.5057C11.7031 4.83317 11.8575 4.66253 11.8338 4.46656C11.8249 4.39267 11.8155 4.31883 11.8057 4.24503L11.748 3.80973C11.6149 2.80548 10.8286 2.0182 9.83321 1.87746V0.666504C9.83321 0.390362 9.60935 0.166504 9.33321 0.166504C9.05707 0.166504 8.83321 0.390362 8.83321 0.666504V1.77826C6.94806 1.61037 5.0517 1.61037 3.16654 1.77826V0.666504Z' fill='%23653E28'/%3e%3cpath d='M11.9629 6.1502C11.9571 5.97259 11.8103 5.83317 11.6326 5.83317H0.367122C0.189408 5.83317 0.0426306 5.97259 0.0367942 6.1502C-0.00280483 7.35531 0.0703964 8.56289 0.256219 9.75707C0.396892 10.6611 1.13133 11.3555 2.04183 11.4453L2.83716 11.5237C4.94053 11.7311 7.05919 11.7311 9.16255 11.5237L9.95789 11.4453C10.8684 11.3555 11.6028 10.6611 11.7435 9.75707C11.9293 8.56289 12.0025 7.35531 11.9629 6.1502Z' fill='%23653E28'/%3e%3c/svg%3e ");
	background-position: 9px 50%;
	background-repeat: no-repeat;
}

// .swiper-wrapper {
// 	@include row-sw(10px, sm, 100px);
// }

.btn-primary {
	color: $white !important;
	&:active {
		background-color: $primary;
		border-color: $primary;
		// box-shadow: none;
	}
	&:focus {
		background-color: #ef8249;
		border-color: #ef8249;
		box-shadow: none;
	}
	&:focus:active {
		box-shadow: none;
	}
	&:hover {
		background-color: #ef8249;
		border-color: #ef8249;
		box-shadow: 0px rem(20) rem(24) rgba(214, 118, 68, 0.2);
	}
}
.btn-outline-primary {
	&:active {
		background-color: $white;
		border-color: $primary;
		color: $primary;
		// box-shadow: none;
	}
	&:focus {
		color: #ef8249;
		background-color: $white;
		border-color: #ef8249;
		box-shadow: none;
	}
	&:focus:active {
		box-shadow: none;
	}
	&:hover {
		color: #ef8249;
		background-color: $white;
		border-color: #ef8249;
		box-shadow: 0px rem(20) rem(24) rgba(214, 118, 68, 0.2);
	}
}

.btn {
	text-align: center;
	&.disabled {
		border-color: $gray-light;
		background-color: $gray-light;
		color: $gray-dark;
	}
	&-sm {
		text-align: center;
		line-height: calc(24 / 17);
	}
}

h1 {
	line-height: calc(80 / 72);
	@include media-breakpoint-up(xl) {
		font-size: rem(72);
	}
}
h2 {
	line-height: calc(72 / 70);
	@include media-breakpoint-up(xl) {
		font-size: rem(70);
	}
}
h3 {
	line-height: calc(56 / 48);
	@include media-breakpoint-up(xl) {
		font-size: rem(48);
	}
}
h4 {
	line-height: 1;
	@include media-breakpoint-up(xl) {
		font-size: rem(32);
	}
}
h5 {
	line-height: calc(32 / 24);
	@include media-breakpoint-up(xl) {
		font-size: rem(24);
	}
	@include media-breakpoint-down(sm) {
		font-size: rem(19);
	}
}
h6 {
	line-height: calc(24 / 18);
	@include media-breakpoint-up(xl) {
		font-size: rem(18);
	}
	@include media-breakpoint-down(sm) {
		font-size: rem(14);
	}
}

.medium-subtitle {
	@include rfs(rem(19));
	line-height: calc(24 / 22);
	font-weight: 500;
	@include media-breakpoint-up(xl) {
		font-size: rem(22);
	}
}


.litepicker {
	font-family: FuturaPT;
	font-size: rem(14);
	line-height: calc(16 / 14);
}

.litepicker .container__days > div,
.litepicker .container__days > a {
	padding: rem(8) 0;
}

.litepicker .container__months .month-item-weekdays-row>div {
	font-size: 100%;
}
