@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-account-header {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-bookmark {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-bookmarkActive {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-left {
	font-size:math.div(20,10)*1rem;
	width: math.div(12,20)*1em;
}
.icon-chevron-right {
	font-size:math.div(20,10)*1rem;
	width: math.div(12,20)*1em;
}
.icon-close {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-coalla-logo {
	font-size:math.div(16,10)*1rem;
	width: math.div(28,16)*1em;
}
.icon-currency {
	font-size:math.div(22,10)*1rem;
	width: math.div(18,22)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-footer-logo {
	font-size:math.div(16,10)*1rem;
	width: math.div(62,16)*1em;
}
.icon-footer-logo-sm {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
.icon-help {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-logo {
	font-size:math.div(27,10)*1rem;
	width: math.div(64,27)*1em;
}
.icon-northWestArrow {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-notification {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-play {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-playVideo {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-popup {
	font-size:math.div(24,10)*1rem;
	width: math.div(25,24)*1em;
}
.icon-search {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-shevron-down {
	font-size:math.div(7,10)*1rem;
	width: math.div(13,7)*1em;
}
.icon-shevron-right {
	font-size:math.div(8,10)*1rem;
	width: math.div(5,8)*1em;
}
.icon-telegram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-visibility {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp-qestions {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-youtube-play {
	font-size:math.div(56,10)*1rem;
	width: math.div(56,56)*1em;
}
.icon-zoom {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
