$output-bourbon-deprecation-warnings: false;
  // @use "sass:list";
  // @use "sass:map";
  @use "sass:math";
  // @use "sass:meta";

// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";
// @import "./node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss";
// @import "./node_modules/swiper/swiper.scss";

@import "mixin";
@import "fonts";
@import "_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap


// v5

// Layout & components

@import "./node_modules/bootstrap/scss/functions";
@import "vars"; 
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

// Layout & components
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
// @import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
// @import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
// @import "./node_modules/bootstrap/scss/transitions";
// @import "./node_modules/bootstrap/scss/dropdown";
// @import "./node_modules/bootstrap/scss/button-group";
// @import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
// @import "./node_modules/bootstrap/scss/card";
// @import "./node_modules/bootstrap/scss/accordion";
// @import "./node_modules/bootstrap/scss/breadcrumb";
// @import "./node_modules/bootstrap/scss/pagination";
// @import "./node_modules/bootstrap/scss/badge";
@import "./node_modules/bootstrap/scss/alert";
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
// @import "./node_modules/bootstrap/scss/close";
// @import "./node_modules/bootstrap/scss/toasts";
// @import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
// @import "./node_modules/bootstrap/scss/spinners";
// @import "./node_modules/bootstrap/scss/offcanvas";
// @import "./node_modules/bootstrap/scss/offcanvas";
// @import "./node_modules/bootstrap/scss/placeholders";
// Helpers
@import "./node_modules/bootstrap/scss/helpers";

// Utilities
@import "./node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


// .breadcrumb {
// 	.active {
// 		a {
// 			// color: $breadcrumb-active-color;
// 			pointer-events: none;
// 		}
// 	}
// }
// @import "./node_modules/bootstrap/scss/pagination";

.pagination-wrapper {
  padding-top: rem(48);
  padding-bottom: rem(43);
  @include media-breakpoint-up(md) {
    padding-top: rem(43);
    padding-bottom: rem(64);
  }
}

.pagination-wrapper ul {
	// @extend .pagination;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper li .page-numbers {
	// @extend .page-link;
  font-size: rem(16);
  color: $dark;
  font-weight: 500;
   &.current, &:hover {
    color: $pagination-hover-color;
  }
  &.prev {
    svg {
      transform: rotateZ(180deg);
    }
  }
  &.prev, &.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border: 1px solid $pagination-border-color;
    border-radius: 50%;
    svg {
      font-size: rem(12);
    }
  }
}


.pagination-wrapper li {
	// @extend .page-item;
  list-style-type: none;
  &:not(:first-child, :last-child) {
    margin: 0 rem(12);
  }
	.current {
		z-index: 1;
		// color: $pagination-active-color;
		// background-color: $pagination-active-bg;
		// border-color: $pagination-active-border-color;
	}
}

.searchForm {
  position: relative;
  @include media-breakpoint-down(lg) {
    top: 23px;
  }
  .form-control {
    @include media-breakpoint-down(lg) {
      border-width: 1px;
    }
  }
  button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 18;
    svg {
      font-size: rem(24);
    }
  }
}
@import "root";
@import "base";
@import '../pug/blocks/**/*.scss';
@import "media"; // Всегда в конце

