mixin consultation(i, n, d, t, text)
	+b.faq-item
		+pic(`sTeam-${i}`)
		+e.head 
			+e.name!= n 
			+e.date!= d
		+e.body
			+e.title!= t 
			p!= text
			+e.BUTTON.btn
				+icon('shevron-down')
				span Показать ответ
		+consultAnswer(n, "Даниил Маркарьян", d, "Здравствуйте <br> <br> Выделения различного характера возможны в период адаптации организма к препарату ( 1-3 месяца идет период адаптации). ")

mixin consultAnswer(n, nDoctor, d, content)
	+b.answer-block
		+e.reply
			+icon('northWestArrow')
			span!= n
		+e.answerBody
			+pic(`sTeam-2.jpg`)
			+e.who
				+e.name.text-dark!= nDoctor
				+e.date!= d
				+e.position Психолог
			+e.body
				p!= content


mixin sConsultation(data)
	// start sConsultation
	+b.sConsultation.section#sConsultation&attributes(attributes)
		.container  
			+consultation(3, "Анастасия Панова", "12 ноября 2021", "Гинекология", "Добрый день. Мой врач в&nbsp;отпуске, на&nbsp;очную консультацию попаду через 2&nbsp;недели. Подскажите, пожалуйста.&nbsp;6&nbsp;месяц принимаю Димиа. В&nbsp;этом месяце месячные пошли на&nbsp;неделю раньше. В&nbsp;упаковке оставалось 5&nbsp;активных и&nbsp;4&nbsp;неактивных таблетки. На&nbsp;текущий момент осталось 3&nbsp;активных и&nbsp;4&nbsp;неактивных. Как принимать препарат дальше? Допивать до&nbsp;конца и&nbsp;начинать новую? Или начать прием новой упаковки?")
			+consultation(1, "Анастасия Панова", "20 июня 2021", "Гинекология", "С&nbsp;недавних пор меня начло беспокоить мое здоровье, повожом стал случай на&nbsp;работе, работаю грузчиком. В&nbsp;конце рабочего дня столкнулся с&nbsp;чем то&nbsp;вроде панической атакой, тахикардия, несение конечностей и&nbsp;т.д. Сдал кровь и&nbsp;мочу, все в&nbsp;норме, на&nbsp;экг тоже все в&nbsp;порядке, но&nbsp;вот последние три дня немеет левое плечо и&nbsp;левая грудь, боли как таковой нет, скорее небольшой дискомфорт, беспокоит больше неизвестность, а&nbsp;сегодня ещё голова целый день будто тоже онемела, решил поискать в&nbsp;интернете что это может быть, но&nbsp;ни&nbsp;к&nbsp;чему хорошему такая идея не&nbsp;привела. Могут&nbsp;ли это быть панические атаки?")
			+consultation(3, "Анастасия Панова", "13 июня 2021", "Гинекология", "Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(")
			+consultation(1, "Анастасия Панова", "5 июня 2021", "Гинекология", "С&nbsp;недавних пор меня начло беспокоить мое здоровье, повожом стал случай на&nbsp;работе, работаю грузчиком. В&nbsp;конце рабочего дня столкнулся с&nbsp;чем то&nbsp;вроде панической атакой, тахикардия, несение конечностей и&nbsp;т.д. Сдал кровь и&nbsp;мочу, все в&nbsp;норме, на&nbsp;экг тоже все в&nbsp;порядке, но&nbsp;вот последние три дня немеет левое плечо и&nbsp;левая грудь, боли как таковой нет, скорее небольшой дискомфорт, беспокоит больше неизвестность, а&nbsp;сегодня ещё голова целый день будто тоже онемела, решил поискать в&nbsp;интернете что это может быть, но&nbsp;ни&nbsp;к&nbsp;чему хорошему такая идея не&nbsp;привела. Могут&nbsp;ли это быть панические атаки?")
			+consultation(3, "Анастасия Панова", "1 июня 2021", "Гинекология", "Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(")
			+consultation(1, "Анастасия Панова", "13 июня 2021", "Гинекология", "С&nbsp;недавних пор меня начло беспокоить мое здоровье, повожом стал случай на&nbsp;работе, работаю грузчиком. В&nbsp;конце рабочего дня столкнулся с&nbsp;чем то&nbsp;вроде панической атакой, тахикардия, несение конечностей и&nbsp;т.д. Сдал кровь и&nbsp;мочу, все в&nbsp;норме, на&nbsp;экг тоже все в&nbsp;порядке, но&nbsp;вот последние три дня немеет левое плечо и&nbsp;левая грудь, боли как таковой нет, скорее небольшой дискомфорт, беспокоит больше неизвестность, а&nbsp;сегодня ещё голова целый день будто тоже онемела, решил поискать в&nbsp;интернете что это может быть, но&nbsp;ни&nbsp;к&nbsp;чему хорошему такая идея не&nbsp;привела. Могут&nbsp;ли это быть панические атаки?")
			+consultation(3, "Анастасия Панова", "5 июня 2021", "Гинекология", "Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(")
			+consultation(1, "Анонимно", "13 июня 2021", "Гинекология", "С&nbsp;недавних пор меня начло беспокоить мое здоровье, повожом стал случай на&nbsp;работе, работаю грузчиком. В&nbsp;конце рабочего дня столкнулся с&nbsp;чем то&nbsp;вроде панической атакой, тахикардия, несение конечностей и&nbsp;т.д. Сдал кровь и&nbsp;мочу, все в&nbsp;норме, на&nbsp;экг тоже все в&nbsp;порядке, но&nbsp;вот последние три дня немеет левое плечо и&nbsp;левая грудь, боли как таковой нет, скорее небольшой дискомфорт, беспокоит больше неизвестность, а&nbsp;сегодня ещё голова целый день будто тоже онемела, решил поискать в&nbsp;интернете что это может быть, но&nbsp;ни&nbsp;к&nbsp;чему хорошему такая идея не&nbsp;привела. Могут&nbsp;ли это быть панические атаки?")
			+consultation(3, "Анастасия Панова", "5 июня 2021", "Гинекология", "Врач прописал джес плюс, пью первый месяц, ни&nbsp;разу не&nbsp;пропускала и&nbsp;принимала таблетки всегда вовремя. Месячные начались на&nbsp;11&nbsp;дней раньше и&nbsp;вот уже 9&nbsp;день не&nbsp;прекращаются, сначала были мажущие тёмно-коричневые выделения, сейчас все пришло в&nbsp;норму, месячные умеренные кровь красного цвета, но&nbsp;меня все равно беспокоит то&nbsp;что они начались так рано и&nbsp;длятся очень долго. Что посоветуете делать? Сейчас принимаю цже 27&nbsp;таблетку и&nbsp;по&nbsp;идее месячные должны были начаться завтра, но&nbsp;они идут уже 9&nbsp;день(")
	// end sConsultation