// start .sConsultation
.sConsultation {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sConsultation

.answer-block {
	position: relative;
	margin-top: rem(16);
	font-size: rem(14);
	color: $gray-medium;
	.icon-northWestArrow {
		font-size: rem(16);
		color: $dark;
		vertical-align: sub;
		margin-right: rem(7);
	}
	&__answerBody {
		padding-top: rem(8);
		padding-left: rem(65);
	}
	&__who {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}
	&__position {
		@include media-breakpoint-up(md) {
			flex-basis: 100%;
		}
		margin-top: rem(2);
		margin-bottom: rem(8);
	}
	&__name {
		color: $dark;
		font-weight: 500;
	}
	&__date {
		color: $gray-medium;
		font-size: rem(12);
		margin-top: rem(4);
	}
	&__col {
		margin-left: auto;
		margin-right: auto;
	}
	picture {
		top: 1.5rem;
		@include media-breakpoint-up(md) {
			.faq-item:not(:first-child) picture {
					top: 2.2rem;
			}
		}
	}
	p {
		color: $dark;
		font-size: rem(12);
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			max-width: rem(699);
		}
	}
}

.faq-item {
	position: relative;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	max-width: rem(763);
	padding-bottom: 1.6rem;
	&:not(:last-child) {
		padding-bottom: rem(24);
		border-bottom: 1px solid $gray-light;
	}
	&:not(:first-child) {
		padding-top: rem(24);
		.pic-position {
			top: rem(17);
		}
	}
	@include media-breakpoint-up(md) {
		padding-left: rem(65);
		&:not(:last-child) {
			padding-bottom: rem(32);
		}
		&:not(:first-child) {
			padding-top: rem(28.8);
			.pic-position {
				top: rem(35.2);
			}
		}
	}

	picture {
		position: absolute;
		left: 0;
		border-radius: 50%;
		width: rem(48);
		height: rem(48);
		overflow: hidden;
	}
	&__head {
		display: flex;
		flex-direction: column;
		font-size: rem(13.968px);
		@include media-breakpoint-down(md) {
			padding-left: rem(56);
		}
		@include media-breakpoint-up(md) {
			flex-direction: row;
			justify-content: space-between; 
		}
	}
	&__name {
		color: $primary;
		font-weight: 500;
	}
	&__date {
		color: $gray-medium;
		font-size: rem(12);
		margin-top: rem(4);
	}
	&__body {
		margin-top: rem(16);
		p {
			color: $dark;
			font-size: rem(12);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
				max-width: rem(699);
			}
		}
		@include media-breakpoint-up(md) {
			margin-top: rem(6);
		}
	}
	&__title {
		color: $dark;
		line-height: 1.4em;
		font-weight: 500;
		@include media-breakpoint-up(md) {
			font-size: rem(22);
		}
	}
	&__btn {
		display: flex;
    align-items: center;
		background-color: transparent;
		border: 1px solid $primary;
		border-radius: rem(8);
		transition: $transition-base;
		@extend .btn-outline-primary;
		padding: rem(3.6) rem(9.6);
		svg {
			transform: rotate(180deg);
			font-size: rem(5);
			color: $dark;
			@include media-breakpoint-up(md) {
				color: $primary;
			}
		}
		span {
			color: $primary;
			margin-left: rem(7.2);
		}
	}
	
}