mixin sClasses(data)
	// start sClasses
	+b.SECTION.sClasses.section#sClasses&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как будут проходить занятия?
			+e.row.row
				mixin item(h, p)
					.col-12.col-md-6.col-lg-4
						+e.item
							.row
								.col-auto
									+e.SPAN.counter
								.col
									h5!= h
									p!= p
				+item(`Оплачиваете курс`, `После оплаты вы&nbsp;получите на&nbsp;свой e-mail логин и&nbsp;пароль от&nbsp;личного кабинета с&nbsp;тренировками. Уроки можно смотреть на&nbsp;компьютере или в&nbsp;мобильном приложении chatium.`)
				+item(`Заходите на&nbsp;платформу`, `Все уроки можно ставить на&nbsp;паузу, перематывать и&nbsp;смотреть в&nbsp;любое удобное время. Обратите внимание, что в&nbsp;этом курсе нет возможности заморозки.`)
				+item(`Смотрите уроки`, `Тренировочный процесс проходит в&nbsp;виде повторения за&nbsp;тренером. Вы&nbsp;просто смотрите на&nbsp;экран и&nbsp;делаете&nbsp;то, что вам говорят. Техника каждого упражнения объясняется подробно.`)
				+item(`Выполняете задания`, `Заниматься по&nbsp;основным урокам нужно 5&nbsp;дней в&nbsp;неделю по&nbsp;40&nbsp;минут (10&nbsp;мин разминка + 30&nbsp;мин основная тренировка)`)
				+item(`Тренер проверяет`, `После каждого урока можно задать вопрос куратору в&nbsp;комментариях или в&nbsp;личном сообщении. Также можно прислать видео для разбора техники упражнений.`)
	// end sClasses

mixin sClasses2(data)
	// start sClasses
	+b.SECTION.sClasses.section#sClasses&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как будут проходить занятия?
			+e.row.row
				mixin item(h, p)
					.col-12.col-md-6.col-lg-4
						+e.item
							.row
								.col-auto
									+e.SPAN.counter
								.col
									h5!= h
									p!= p
				+item(`Оплачиваете курс`, `После оплаты вы&nbsp;получите на&nbsp;свой e-mail логин и&nbsp;пароль от&nbsp;личного кабинета с&nbsp;тренировками. Уроки можно смотреть на&nbsp;компьютере или в&nbsp;мобильном приложении chatium.`)
				+item(`Заходите на&nbsp;платформу`, `Все уроки можно ставить на&nbsp;паузу, перематывать и&nbsp;смотреть в&nbsp;любое удобное время. Обратите внимание, что в&nbsp;этом курсе нет возможности заморозки.`)
				+item(`Смотрите уроки`, `Тренировочный процесс проходит в&nbsp;виде повторения за&nbsp;тренером. Вы&nbsp;просто смотрите на&nbsp;экран и&nbsp;делаете&nbsp;то, что вам говорят. Техника каждого упражнения объясняется подробно.`)
	// end sClasses