// start .sSexEducation
.sSexEducation {
	--sPB: #{rem(10)};
	// --sTPB: ;
	--sPT: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(40)};
		--sPT: #{rem(48)};
	}
	& > .container {
		@include media-breakpoint-up(xl) {
			max-width: 990px;
		}
	}
	&__heading {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(56);
		}
		p {
			@extend .medium-subtitle;
			font-weight: 400;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSexEducation
