mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда BLOOM
			p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.
			.medium Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum commodi molestias itaque nostrum obcaecati odit quod, mollitia eligendi voluptatem iusto incidunt, vitae deleniti distinctio odio, eum deserunt voluptate veritatis neque.
			.row

	// end headerBlock