mixin sRecomendedCourse(data)
	// start sRecomendedCourse
	+b.SECTION.sRecomendedCourse.section#sRecomendedCourse&attributes(attributes)
		.container
			h4 Рекомендуем курс
			+course('Начальный курс', 'Курс &laquo;С&nbsp;заботой о&nbsp;вашем тазовом дне&raquo;', 'Подготовка к родам и восстановление после них. Тренировки при болях в позвоночнике. Улучшение мобильности и стабильности.', 1, '900', 1, 'Пройти курс', 'Анна Грикевич', 'Специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна').--starter
				+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
				+infoblock('Длительность', '12 занятий')
				+infoblock('Формат проведения', 'Онлайн')
	// end sRecomendedCourse