mixin sYouNeedUs(data)
	// start sYouNeedUs
	+b.SECTION.sYouNeedUs.section#sYouNeedUs&attributes(attributes)
		.container
			+e.wrraper
				+pic('youNeedUsIMG').text-center
				+e.H2.title.text-center Мы&nbsp;нужны вам, если
				+e.slider--js.swiper
					// Additional required wrapper
					.swiper-wrapper
						// Slides
						mixin item(h, t) 
							+e.slide.swiper-slide
								+e.item 
									.medium-subtitle!= h
									p!= t
						+item(`вы&nbsp;не&nbsp;успеваете заняться своим здоровьем`, `и ходите ко врачам только в самых крайних случаях, но регулярно испытываете боли/дискомфорт`)
						+item("вы&nbsp;не&nbsp;знаете, к&nbsp;какому врачу обратиться", "за&nbsp;помощью, вас не&nbsp;устраивает их&nbsp;подход, советы в&nbsp;интернете вызывают сомнения")
						+item("если у&nbsp;вас встречаются следующие признаки:", "болит спина, бывает недержание мочи, есть диастаз, попадает воздух во&nbsp;влагалище, есть проблемы с&nbsp;достижением оргазма")
						+item("вы&nbsp;хотите понимать свое тело", "и&nbsp;ищете спорт не&nbsp;для &laquo;похудеть&raquo;,а&nbsp;для здоровья")
							
	// end sYouNeedUs