mixin footer-main(data)
	// start footer-main
	+b.SECTION.footer-main.section#footer-main&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 footer-main
				
			.row
	// end footer-main