// start .footer-main
.footer-main {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	min-height: rem(442);
	padding-top: calc(var(--sPT) + rem(40));
	// margin-bottom: rem(64);

	@include media-breakpoint-up(sm) {
		min-height: rem(650);
	}
	@include media-breakpoint-up(md) {
		padding-top: calc(var(--sPT) + rem(40));
		min-height: calc(var(--vh, 1vh) * 100 + rem(40));
		margin-bottom: 0;
	}
	display: flex;
	align-items: center;
	background-color: $dark;
	picture {
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(185, 110, 40, 0.2);
			z-index: 1;
		}
		img {
			@include media-breakpoint-down(sm) {
				object-position: 46% center;
			}
		}
	}
	.section-title {
		color: $yellow;
	}
	&__links {
		font-size: rem(18);
		text-align: center;
		margin-top: rem(24);
		@include media-breakpoint-up(sm) {
			font-size: rem(22);
		}
		a {
			&:not(:hover) {
				color: $white;
			}
		}
	}
	&__mail {
		margin-right: rem(24);
	}
	.soc {
		@include roww(16px, m);
		justify-content: center;
		margin-top: rem(24);
		&__item {
			.icon {
				font-size: rem(24);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(sm) {}

} // end.footer-main
