// start .sDoctorProfile
.sDoctorProfile {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	.form-wrap {
		form {
			padding-bottom: rem(24);
			max-width: rem(374);
			margin-left: auto;
			margin-right: auto;
			& > p {
				padding-top: rem(32);
				font-size: rem(19);
				text-align: center;
				@include media-breakpoint-up(lg) {
					font-size: rem(22);
				}
			}
			textarea {
				min-height: rem(120);
			}
		}
		&:not(:last-child) {
			form {
				border-bottom: 1px solid $gray-light;
			}
		}
		&__btn {
			@extend .btn, .btn-primary;
			width: 100%;
		}
		&__btn-delete {
			display: block;
			font-size: rem(16);
			color: $primary;
			margin-top: rem(16);
			text-align: center;
			&:hover {
				color: $dark;
			}
			@include media-breakpoint-up(lg) {
				margin-top: rem(20);
			}
		}
	}
	.soc-profile {
		margin-top: rem(24);
		max-width: rem(374);
		margin-left: auto;
		margin-right: auto;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sDoctorProfile
