mixin sDoctorProfile(data)
	// start sDoctorProfile
	+b.sDoctorProfile.section#sDoctorProfile&attributes(attributes)
		.container
			+form-wrap()
				p Общие сведения
				+changePhoto()
				+input('Фамилия и имя', 'text', 'Фамилия и имя')
				+input('Электронная почта', 'email', 'Электронная почта')
			+form-wrap()
				p Опыт работы
				+input('Специальность', 'text', 'Специальность')
				+input('Стаж работы', 'text', 'Стаж работы')
				+input('Направление деятельности', 'textarea', 'Где проходили обучение')
				+input('Опыт и время работы', 'textarea', 'Опыт и время работы')
				+input('Дополнительные сведения (достижения, услуги)', 'textarea', 'Расскажите о своих достижениях, заслугах')
			+form-wrap()
				p Изменение пароля
				+e.SPAN.input-title Старый пароль
					//- +help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Пароль", "password")
				+e.SPAN.input-title Пароль
					//- +help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Пароль", "password")
				+e.SPAN.input-title Подтвердите пароль
					//- +help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
				+e.password-wrap
					+e.SPAN.btn-toggle-pass
						+icon('visibility')
					+input("Пароль", "password")
				+e.btn Сохранить
				//- +e.btn-delete(href="#") Удалить профиль
				//- +e.btn-delete(href=`#modal-delete-profile`).link-modal-js Удалить профиль
	// end sDoctorProfile