// start .sFaqExperts
.sFaqExperts {
		 --sPT: #{rem(48)};
		 --sPB: #{rem(32)};
		// --sTPB: ;
		.container {
			@include media-breakpoint-up(xl) {
				max-width: 990px;
			}
		}
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(32)};
		 	--sPB: #{rem(72)};
		}
		&__slider {
			overflow: visible;
		}
		.swiper-wrapper {
			@include row-sw(16px, lg, 0);
		}
		&__slide {
			max-width: rem(164);
			margin-right: rem(8);
		}
		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
   		padding-left: rem(8);
			padding-right: rem(16);
			@include media-breakpoint-up(lg) {
				flex-direction: column;
				align-items: center;
				height: 100%;
				padding: rem(8) rem(7) rem(16);
			}
			text-align: center;
			color: $dark;
			background: $white;
			box-shadow: var(--card-shadow);
			border-radius: 24px 0px 24px 24px;
		}
		img {
			width: 48px;
			margin-right: rem(8);
			@include media-breakpoint-up(lg) {
				width: 92px;
				margin-right: 0;
				margin-bottom: rem(8);
			}
		}
		span {
			max-width: rem(165);
		}
		&.rounded-top {
			--sPT: #{rem(16)};
			@include media-breakpoint-up(md) {
				--sPT: #{rem(20)};
			}
			&:after {
				@include media-breakpoint-down(lg) {
					height: 67px;
				}
			}
		}
		&.rounded-top2 {
			&:after {
				@include media-breakpoint-down(lg) {
					height: 105px;
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFaqExperts

// .sFaqExperts {
// 	position: relative;
// 	overflow: visible;
// 	background-color: #fff;
// 	border-radius: 2em 2em 0 0;
// 	margin-top: rem(-32);
// 	padding-top: rem(16);
// 	@include media-breakpoint-down(lg) {
// 		margin-top: rem(-108);
// 		padding-top: rem(116);
// 	}
// }