extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Мой тариф'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +header()
	+top-nav()
	//- +topLine()
	+cabinet-body(title)
		+sAccess-cabinet()
			+e.subtitle.alert Действие тарифа заканчивается. Тариф действует до:
				span 15.12.21
	//- +sForm()
	//- +sContact()
	+footer()



