extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
include ../blocks/sUserConsult/_sUserConsult.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= 'cabinet-page  ' 
	- let  bg= null

block title
	- let  title= 'Консультации с врачом'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +header()
	+top-nav()
	//- +topLine()
	+cabinet-body(title)
		+sUserConsult()
	//- +sForm()
	//- +sContact()
	+footer()



