extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
//- include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug
include ../blocks/sFaqExperts/_sFaqExperts.pug
include ../blocks/sConsultation/_sConsultation.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'qna.jpg'

block title
	- let  title= 'Вопросы и ответы'
	title= title
block pagecontent
	+top-nav()
	+pageHead({
		t: `Вопросы и&nbsp;ответы`,
		p: `Здесь вы&nbsp;можете найти ответы на&nbsp;свои вопросы, которые дали наши специалисты другим пользователям, или&nbsp;же задать свой, если данная тема еще не&nbsp;обсуждалась`,
		btn: `Задать вопрос`
	})
	+sFaqExperts()
	+sConsultation()
	//- +mob-mnu()
	//- +header()
	//- +topLine()
	.bg-background
	//- 	+headerBlock()
	//- 	+sCategories()
	//- 	+sCardHorisontal()
	//- 	+sYouNeedUs()
	//- 	+sTeam()
	//- +sAccess()
	//- +sQuestions()
	//- +sReviews()
	//- +sCardHorisontal2()
	//- //- +sForm()
	//- //- +sContact()
	+footer()
