extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
//- include ../blocks/sQuestionnaire/_sQuestionnaire.pug
//- include ../blocks/sSexEducation/_sSexEducation.pug
//- include ../blocks/sSexEducChapter/_sSexEducChapter.pug
include ../blocks/sNewsWrraper/_sNewsWrraper.pug
//- include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sFaqExperts/_sFaqExperts.pug
//- include ../blocks/sNewsWrraper/_sNewsWrraper.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= null 
	- let  st= "--headBg: linear-gradient(180deg, rgba(232, 160, 151, 1) 35%, rgba(255,255,255,1) 100%); --card-shadow: 0px 20px 24px rgba(192, 198, 230, 0.42);"
	- let  bg= '7-1-Sex-education-3.jpg'

block title
	- let  title= 'Привычки для спортивной жизни'
	title= title
block pagecontent

	+top-nav()
	+pageHead({
		t: `Привычки для спортивной&nbsp;жизни`,
		p: false,
		d: false,
		search: false,
		img: false
	}).--articles
		+link-back(`Вернуться к выбору темы`, `#`)
	+sNewsWrraper(``, `sw`)
		.row
			+newsWrrap(`v`, 1, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 2, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 3, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 1, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 4, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 5, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 6, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 4, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 3, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 1, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 2, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 3, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 4, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 3, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 5, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 4, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 6, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du').active
			+newsWrrap(``, 2, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(``, 1, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
			+newsWrrap(`v`, 6, '', 'Пусть весь мир подождет: 6&nbsp;правил здорового эгоизма', 'Donec pellentesque efficitur dui, id dictum ex aliquam id. Vivamus imperdiet pretium odio sit amet laoreet.Donec pellentesque efficitur du')
		+pugin()
	+footer


