extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sRegistration/_sRegistration.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
//- include ../blocks/sQuestionnaire/_sQuestionnaire.pug
//- include ../blocks/sSexEducation/_sSexEducation.pug
//- include ../blocks/sSexEducChapter/_sSexEducChapter.pug
//- include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sFaqExperts/_sFaqExperts.pug
//- include ../blocks/sNewsWrraper/_sNewsWrraper.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= 'registration' 
	- let  st= null
	- let  bg= '10-1-Contacts.jpg'

block title
	- let  title= 'Вход'
	title= title
block pagecontent

	+top-nav()
	+sRegistration({
		img: 'sRegistration-1.png',
		title
	}).--auth
		
				+input("Владимир Воротников", "select", "Специалисты")
				+input("Опишите кратко суть вопроса", "textarea", "Опишите кратко суть вопроса")
				+input("+7 (___) __ __", "tel", "Телефон")
				+e.SPAN.input-title Пароль 
					+help-tooltip(`Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, enim!`)
	+footer.d-lg-none


