extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sRegistration/_sRegistration.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
//- include ../blocks/sQuestionnaire/_sQuestionnaire.pug
//- include ../blocks/sSexEducation/_sSexEducation.pug
//- include ../blocks/sSexEducChapter/_sSexEducChapter.pug
//- include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sFaqExperts/_sFaqExperts.pug
//- include ../blocks/sNewsWrraper/_sNewsWrraper.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= 'registration' 
	- let  st= null
	- let  bg= null

block title
	- let  title= 'Придумайте новый пароль'
	title= title
block pagecontent

	+top-nav()
	+sRegistration({
		img: 'sRegistration-3.png',
		title
	}).--forgot-pass
		+e.SPAN.input-title Пароль
			+help-tooltip(`Длина пароля должна быть не менее 8 символов. Пароль может состоять из букв латинского алфавита (A-z), арабских цифр (0-9) и специальных символов ( . , : ; ? ! * + % - < > @ [ ] { } / \ _ {} $ #  ” " )"`)
		+e.password-wrap
			+e.SPAN.btn-toggle-pass
				+icon('visibility')
			+input("Пароль", "password")
		+e.SPAN.input-title Подтвердите пароль
		+e.password-wrap
			+e.SPAN.btn-toggle-pass
				+icon('visibility')
			+input("Подтвердите пароль", "password")
		+e.BUTTON.btn Сохранить

	+footer.d-lg-none


