extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sYouNeedUs/_sYouNeedUs.pug
//- include ../blocks/sTeam/_sTeam.pug
include ../blocks/sQuestions/_sQuestions.pug
//- include ../blocks/sSexEducation/_sSexEducation.pug
//- include ../blocks/sSexEducChapter/_sSexEducChapter.pug
//- include ../blocks/sAccess/_sAccess.pug
//- include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sNewCourse/_sNewCourse.pug
include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/sFaqExperts/_sFaqExperts.pug
//- include ../blocks/sNewsWrraper/_sNewsWrraper.pug
//- include ../blocks/sCardHorisontal/_sCardHorisontal.pug
//- include ../blocks/footer-main/_footer-main.pug

block variables
	- let  mainPage= 'about' 
	- let  st= null
	- let  bg= '12-1About-project.jpg'

block title
	- let  title= 'О проекте'
	title= title
block pagecontent

	+top-nav()
	+pageHead-about({
		t: `Привет! <br> Я - Аня Грикевич`,
		p: `Создательница этой платформы. Хочу немного рассказать вам о&nbsp;том, как все начиналось, зачем я&nbsp;собрала команду и&nbsp;мы&nbsp;сделали эту платформу.`,
		img: 'about-project.png'
	}).text-start
	+sCardHorisontal3()
	+sNewCourse()
	+sCardHorisontal4()
	+sQuestions-help()
	+footer


