extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
	+top-nav()
	+topLine()

	.container
		p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur.
		p.medium Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum commodi molestias itaque nostrum obcaecati odit quod, mollitia eligendi voluptatem iusto incidunt, vitae deleniti distinctio odio, eum deserunt voluptate veritatis neque.
		.btn.btn-primary(href="#") Читать статьи
		.btn.btn-outline-primary(href="#") Задать вопрос
	+headerBlock()
	+sForm()
	+sContact()
	+footer()



