
.mediaContent {
	@include media-breakpoint-up(lg) {
		margin-left: rem(-57);
		margin-right: rem(-57);
		max-width: rem(877);
	}
	&__sliderContainer {
		position: relative;
	}
	&__slider {
		max-width: rem(877);
	}
	picture {
		margin-bottom: rem(8);
	}
	span {
		display: inline-block;
		margin-left: rem(4);
		font-size: rem(14);
		color: $gray-dark;
		margin-bottom: rem(33);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(42);
		}
	}
}

.headBread {
	overflow-x: auto;
	position: relative;
	margin-bottom: rem(33);
	@include media-breakpoint-up(md) {
		margin-bottom: rem(55);
  }
}

	// start .sContent
.sContent {
	padding-top: 0;
	.container {
		@include media-breakpoint-up(lg) {
			max-width: rem(877);
			padding-left: rem(57);
			padding-right: rem(57);
		}
	}
	&__head {
		h1 {
			color: $primary;
			margin-bottom: rem(11);
		}
		p {
			font-size: rem(22);
			margin-bottom: rem(40) !important;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(76) !important;
			}
		}
	}
	&__inFavorite {
		span {
			font-size: rem(14);
			color: $primary;
		}
		.icon {
			font-size: rem(24);
		}
	}

	&__tableWrap {
		overflow-x: auto;
		position: relative;
		margin-bottom: rem(49);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(93);
		}
		table {
			min-width: rem(762);
			@extend .table, .table-hover;
		}
	}

	h6 {
		font-size: rem(18);
		line-height: rem(24);
		letter-spacing: rem(0.5);
		text-transform: uppercase;
		margin-bottom: rem(7);
	}
	table {
		thead {
			th {
				color: $gray-dark;
				padding-bottom: 8px;
				font-size: rem(14);
			}
		}
		tbody {
			border-top: none!important;
			& > tr {
				&:nth-child(2n) {
					background-color: rgba($color: #EFEAE7, $alpha: 0.5);
				}
			}
		}
		th {
			border-bottom: 1px solid $gray-light;
			padding-top: rem(16);
			padding-bottom: rem(16);
			font-weight: 400;
			color: $black;
		}
		td {
			color: $black;
			padding-top: rem(16);
			padding-bottom: rem(14.4);
		}
	}
	h3 {
		margin-bottom: rem(8);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(13);
		}
	}
	p {
		color: $dark;
		margin-bottom: rem(21);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
		}
		span {
			color: $primary;
		}
	}
	blockquote {
		margin-bottom: rem(32);
		padding-left: rem(17.5);
		border-left: 2px solid $primary;
		@include media-breakpoint-up(lg) {
			padding-left: rem(23);
			margin-bottom: rem(60);
		}
		h5 {
			color: $primary;
		}
		cite {
			font-style: normal;
			display: flex;
			flex-direction: column;
			color: $dark;
			span {
				font-size: rem(12);
				color: $gray-dark;
			}
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
				span {
					font-size: rem(14);
				}
			}
		}
	}
	.swiper-button-hand {
		.icon {
			fill: $dark;
		}
	}
	@include media-breakpoint-up(xl) {
		.swiper-button-hand-prev {
			left: -50px;
		}
		.swiper-button-hand-next {
			right: -50px;
		}
	}
	@include media-breakpoint-up(lg) {
		.swiper-button-hand-prev {
			left: -24px;
		}
		.swiper-button-hand-next {
			right: -24px;
		}
	}
	@include media-breakpoint-down(sm) {
		.swiper-button-hand {
			display: none;
		}
	}

	h4, h5 {
		margin-bottom: rem(16);
	}
	h4 {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
	h5 {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(8);
		}
	}
	li {
		margin-bottom: rem(8);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(16);
		}
	}
	
	ul {
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-top: rem(32);
			margin-bottom: rem(32);
		}
		ul {
			margin-top: rem(8);
			margin-bottom: rem(8);
			@include media-breakpoint-up(lg) {
				margin-top: rem(16);
				margin-bottom: rem(24);
			}
		}
	}
	.container > ol {
		counter-reset: num;
	}
	ol {
		padding-left: 0;
		ol {
			padding-left: 0;
			margin-left: 0;
			margin-top: rem(8);
			margin-bottom: rem(12);
			@include media-breakpoint-up(lg) {
				margin-top: rem(16);
				margin-bottom: rem(24);
			}
		}
		margin-left: rem(16);
		@include media-breakpoint-up(lg) {
			margin-left: rem(32);
			margin-bottom: rem(49);
		}
		margin-bottom: rem(23);
		counter-reset: num2;
		li {
			list-style-type: none;
			position: relative;
			&::before {
				content: counter(num)".";
				counter-increment: num;
			}
			li {
				list-style-type: none;
				position: relative;
				&::before {
					content: counter(num)"."counter(num2)".";
					counter-increment: num2;
				}
			}
		}
	}
	li {
		margin-left: rem(16);
		@include media-breakpoint-up(lg) {
			margin-left: rem(32);
		}
	}
	.soc {
		margin-top: rem(8);
		&__item {
			.icon {
				color: $dark;
				font-size: rem(24);
				&:hover {
					color: $primary;
				}
			}
		}
	}
	.icon-share {
		fill: none;
		stroke: $dark;
	}
	.footer {
		&__inFavorite {
			span {
				font-size: rem(14);
				color: $primary;
			}
			.icon {
				font-size: rem(24);
			}
			&:hover {
				.icon, span {
					color: $dark;
				}
			}
		}
		&--article {
			position: relative;
			.soc {
				justify-content: start;
			}
		}
		&__copyWrrap {
			position: absolute;
			width: rem(248);
			background-color: $white;
			border-radius: 8px;
			padding: rem(8);
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
			top: rem(-94px);
			left: rem(58px);
			&:after {
				content: "";
				position: absolute;
				background-image: url(../img/svg/filledTriangle.svg);
				background-repeat: no-repeat;
				width: rem(16);
				height: rem(8);
				bottom: rem(-8);
				left: 50%;
				transform: translateX(-50%);
			}
			span {
				font-size: rem(14);
				font-weight: 500;
			}
			p {
				font-size: rem(14);
				margin-bottom: rem(8);
			}
			a {
				width: 100%;
				background-color: $primary;
				color: $white;
				text-align: center;
				padding: rem(4) 0;
				border-radius: 8px;
			}
		}  
	}

	.video-wrrpaer {
		text-align: center;
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(43);
		}
		iframe {
			width: 100%;
			height: rem(184);
			@include media-breakpoint-up(xl) {
				width: rem(873);
				height: rem(492);
			}	
			@include media-breakpoint-up(lg) {
				width: rem(769);
				height: rem(calc((769 * 0.56)));
			}
			@include media-breakpoint-up(md) {
				width: rem(688);
				height: rem(calc((688 * 0.56)));
			}
			@include media-breakpoint-up(sm) {
				width: rem(508);
				height: rem(calc((508 * 0.56)));
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent