// start .sPage404
.sPage404 {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	display: flex;
	min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: linear-gradient(0deg, #e4d4ba 0%, #edcda6 53.17%, #e9d4ae 62.2%, #e4d4ba 100%);
	background-image: linear-gradient(180deg, #e4d4ba, #e6d2b4 41.6%, #edcda5 61.89%, #e9d4ae 73.62%, #e4d4ba);
	.container-fluid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		align-self: center;
		@include media-breakpoint-up(md) {
			padding: 0;
		}
	}
	picture {
		margin-bottom: rem(32);
		
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		img {
			@extend .res-i;
		}
	}
	&__caption {
		text-align: center;
		max-width: rem(328);
		@include media-breakpoint-up(md) {
			position: absolute;
			bottom: 7%;
		}
		@include media-breakpoint-up(lg) {
			max-width: rem(365);
			bottom: 11%;
		}
		p {
			font-size: rem(19);
			line-height: calc(24 / 19);
			margin-bottom: rem(24);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(16);
				font-size: rem(16);
				line-height: 1;
			}
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding: rem(7);
		width: 100%;
		max-width: rem(328);
		@include media-breakpoint-up(md) {
			max-width: rem(154);
		}
	}
	&__logo-main {
		padding: 4.5px 0 4.5px;
		margin-bottom: rem(30);
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 10%;
			margin-bottom: 0;
		}
		&:not(:hover) {
			color: $dark;
		}
		.icon {
			font-size: rem(16);
			&-footer-logo-sm {
				fill: none;
				stroke: currentColor;
				stroke-width: 3px;
				// margin-right: 3px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sPage404
