mixin sWhatYouNeed(data)
	// start sWhatYouNeed
	+b.SECTION.sWhatYouNeed.section#sWhatYouNeed&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sWhatYouNeed
				
			.row
	// end sWhatYouNeed