// start .sArticleSlider
.sArticleSlider {
	--sPT: #{rem(30)};
	--sPB: #{rem(32)};
		// --sTPB: ;
	&__sliderContainer {
		position: relative;
	}
	&__slider {
		max-width: rem(877);
	}
	.swiper-button-hand {
		.icon {
			fill: $dark;
		}
	}
	@include media-breakpoint-up(xl) {
		.swiper-button-hand-prev {
			left: 81px;
		}
		.swiper-button-hand-next {
			right: 81px;
		}
	}
	@include media-breakpoint-up(lg) {
		.swiper-button-hand-prev {
			left: -24px;
		}
		.swiper-button-hand-next {
			right: -24px;
		}
	}
	@include media-breakpoint-down(sm) {
		.swiper-button-hand {
			display: none;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticleSlider