mixin sStartCourse(data)
	// start sStartCourse
	+b.sStartCourse.section#sStartCourse&attributes(attributes)
		.container
			+pageHead({
				t: `Начать курс «С заботой о вашем тазовом дне»`,
				d: false,
				img: 'headCourse.png',
				course: true
			}).--course.--start-course.text-start
			
	// end sStartCourse