// start .sUserChat
.sUserChat {
		--sPT: #{rem(8)};
		--sPB: #{rem(0)};
		// --sTPB: ;
	.container {
		text-align: center;
	}
	.container > p {
		font-size: rem(19);
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
	}
	.container > a {
		width: 100%;
		@include media-breakpoint-up(md) {
			width: 100%;
			max-width: rem(276);
		}
	}
	&__btn {
		margin-bottom: rem(24);
	}
	.scroll {
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: $gray-light;
			margin-right: 4px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sUserChat

.profileChat {
	border-top: 1px solid $gray-light;
	position: relative;
}

.public-chat {
	@include media-breakpoint-up(md) {
		width: rem(340);
	}
	&__messages {
		height: rem(759);
		position: relative;
    overflow-x: hidden;
    overflow-y: auto;
	}
	&__doctor {
		&:last-child {
			color: $dark;
		}
	}
	&__item {
		text-align: left;
		padding: rem(12) rem(16) rem(16) rem(16);
		&:not(:last-child) {
			border-bottom: 1px solid $gray-light;
		}
		picture {
			width: rem(32);
			border-radius: rem(87);
			overflow: hidden;
		}
		&.active {
			background-color: rgba($color: #EFEAE7, $alpha: 0.3);

		}
	}
	&__pinned {
		border-right: 1px solid $gray-light;
	}
	&__message-name {
		margin-bottom: rem(8);
		span {
			font-size: rem(14);
			&:last-child {
				color: $gray-medium;
			}
		}
	}
	&__time {
		font-size: rem(14);
		color: $gray-medium;
	}
	&__message-text {
		span {
			&:first-of-type {
				
			}
			&:last-of-type {
				font-size: rem(12);
			}
		}
		p {
			margin-bottom: 0;
			&.unread {
				padding-left: rem(12);
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: rem(8);
					height: rem(8);
					background-color: $primary;
					border-radius: 50%;
					top: 5px;
					left: 0;
				}
			}
		}
	}
}

.public-messenger {
	position: absolute;
	padding-left: rem(20);
	@include media-breakpoint-up(md) {
		position: static;
	}
	@include media-breakpoint-down(md) {
		@include mt;
		transform: translateX(100%);
		&.active{
			transform: translateX(0);

		}
		top: 0;
		left: 0%;
		position: fixed;
		background: #fff;
    width: 100%;
		height: calc(var(--vh, 1vh) * 100 - 67px);
		padding-left: 0;
		display: flex;
		flex-direction: column;
	}
	&__back {
		display: flex;
		align-items: center;
		width: 100%;
		height: rem(56);
		border: none;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
		background-color: $white;
		text-align: left;
		padding: rem(10) 0 rem(10) rem(25);
		position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
		picture {
			border-radius: rem(87);
			overflow: hidden;
			margin-left: rem(16);
		}
		.icon {
			font-size: rem(24);
		}
		@include media-breakpoint-up(md) {
			opacity: 0;
			pointer-events: none;
		}
	}
	&__message-name {
		margin-left: rem(6);
		span {
			&:first-of-type {
				color: $dark;
				margin-bottom: 2px;
			}
		}
	}
	&__messages {
		// display: grid;
		// align-content: end;
		// gap: rem(20);
		height: rem(628);
		position: relative;
    overflow-x: hidden;
    overflow-y: auto;
		@include media-breakpoint-down(md) {
			padding-top: rem(16);
			padding-bottom: rem(32);
			// height: rem(859 - 20);
			flex-grow: 1;
			// height: calc(var(--vh, 1vh) * 100 - 67px);
		}
	}
	&__message {
		padding: rem(16) rem(16) rem(8) rem(16);
		background-color: rgba($color: #E9C19D, $alpha: 0.3);
		max-width: rem(522);
		text-align: left;
		display: flex;
		flex-direction: column;
		align-self: end;
		border-radius: rem(8);
		margin-left: auto;
		margin-right: rem(16);
		@include media-breakpoint-up(md) {
			margin-right: 0;
		}
		p {
			margin-bottom: rem(4);
		}
		&--left {
			align-self: start;
			background-color: $white;
			border: 1px solid $gray-light;
			margin-right: auto;
			margin-left: rem(16);
			@include media-breakpoint-up(md) {
				margin-left: 0;
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&--deny {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #fff, $alpha: 0.5);
				left: 0;
				top: 0;
			}
		}
		@include media-breakpoint-down(md) {
			max-width: rem(296);

		}
	}
	span {
		text-align: right;
		font-size: rem(14);
		color: $gray-medium;
		align-self: flex-end;
	}
	.form-wrap {
		form {
			display: flex;
		}
		picture {
			width: rem(48);
			// height: rem(48);
			align-self: center;
			border-radius: rem(83);
			overflow: hidden;
		}
		&__input-wrap {
			margin-left: rem(16);
			position: relative;
			margin-bottom: 0;
			width: 100%;
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			width: rem(53);
			height: rem(53);
			background-color: $primary;
			color: $white;
			border: none;
			border-radius: rem(8);
		}
	}
	&__reason {
		margin-bottom: rem(32);
	}
}

.chat {
	.profileChat {
		margin-left: rem(-16);
		margin-right: rem(-16);
		@include media-breakpoint-up(lg) {
			margin-right: 0;
		}
	}
	.container--main {
		margin-bottom: 0;
	}
}