mixin responseAccordion(t, text)
	+e.item
		+e.item-heading
			+e.BUTTON.btn-accordion
				p!= t
				+icon('plus')
		+e.item-content
			p!= text

mixin sResponseQuestion(data)
	// start sResponseQuestion
	+b.SECTION.sResponseQuestion.section#sResponseQuestion&attributes(attributes)
		.container
			+b.section-title.text-center
				h3 Ответы на вопросы
			+responseAccordion('Можно ли проходить тренировку во время беременности?', 'Тренировочный процесс проходит в виде повторения за тренером. Вы просто смотрите на экран и делаете то, что вам говорят. Техника каждого упражнения объясняется подробно.')
			+responseAccordion('Где проходят тренировки?', 'Тренировочный процесс проходит в виде повторения за тренером. Вы просто смотрите на экран и делаете то, что вам говорят. Техника каждого упражнения объясняется подробно.')
			+responseAccordion('Какое оборудование понадобится?', 'Тренировочный процесс проходит в виде повторения за тренером. Вы просто смотрите на экран и делаете то, что вам говорят. Техника каждого упражнения объясняется подробно.')
			+responseAccordion('Какие есть противопоказания?', 'Тренировочный процесс проходит в виде повторения за тренером. Вы просто смотрите на экран и делаете то, что вам говорят. Техника каждого упражнения объясняется подробно.')

	// end sResponseQuestion