// start .sResponseQuestion
.sResponseQuestion {
		// --sPT: ;
		--sPB: #{rem(34)};
		// --sTPB: ;
	.container {
		max-width: rem(768);
		@include media-breakpoint-down(md) {
			--bs-gutter-x: 0;
		}
	}
	h3 {
		color: $primary;
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}
	&__item {
		border-top: 1px solid rgba($color: #653E28, $alpha: 0.2);
		&:last-child {
			border-bottom: 1px solid rgba($color: #653E28, $alpha: 0.2);
		}
	}
	&__item-content {
		display: none;
		padding-bottom: rem(16);
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include media-breakpoint-down(md) {
		&__item-content {
			margin-left: rem(16);
			margin-right: rem(16);
		}
	}
	&__btn-accordion {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: transparent;
		align-items: center;
		border: none;
		padding: rem(16) 0;
		&.on {
			.icon-plus {
				transform: rotate(45deg);
			}
		}
		p {
			color: $dark;
			text-align: left;
			margin-bottom: 0;
			font-size: rem(22);
		}
		.icon-plus {
			font-size: rem(32);
			background-color: $primary;
			padding: rem(5);
			border-radius: 50%;
			color: $white;
			transition: all .3s ease;
		}
		@include media-breakpoint-down(md) {
			p {
					margin-left: rem(16);
					font-size: rem(19);
			}
			.icon-plus {
				margin-right: rem(16);
				min-width: rem(32);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sResponseQuestion