mixin sCardHorisontal(data)
	// start sCardHorisontal
	+b.SECTION.sCardHorisontal.section#sCardHorisontal&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCardHorisontal
				
			.row
	// end sCardHorisontal