// start .sCardHorisontal
.sCardHorisontal {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	@include media-breakpoint-up(xl) {
		.container{
			max-width: rem(1230);
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCardHorisontal

.sCardHorizontalItem{
	margin-bottom: rem(168);
	&__row{
		--bs-gutter-x: 0;
		align-items: center;
	}
	ul{
		li{
			list-style: none;
			position: relative;
			padding-left: rem(20);
			margin-bottom: .5em;
			&::before{
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: currentColor;
				left: 0;
				top: em(6);
				position: absolute;
			}
		}
	}
	&:nth-child(even) &__row{
		flex-direction: row-reverse;
	}
	h2{
		// @include rfs()
		color: $primary;
	}
	p{
		span{
			color: $primary;
			font-size: rem(22);
			// font-weight: bold;
		}
	}
	&__caption{
		max-width: rem(570);
	}
	&__head{
		margin-bottom: rem(24);
	}
	&__text-block{
		margin-bottom: rem(24);
		
		p{
			margin-bottom: rem(8);
		}
		strong{
			font-size: rem(22);
		}

	}
	&__btn{
		@extend .btn;
		// flex-grow: 1;
		width: calc(50% - 1rem);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		padding: 0 rem(5);
		.icon{
			font-size: rem(24);
			margin-right: rem(8);
		}
	}
	.btn-outline-primary{
		&:not(:hover){
			background-color: #fff;
		}
	}
	&__btns{
		display: flex;
		flex-wrap: wrap;
		@include roww(1rem, m);
	}
}