// start .sCardHorisontal
.sCardHorisontal {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	.container {
		@include media-breakpoint-up(xl) {
			max-width: rem(1230);
		}
		@include media-breakpoint-down(sm) {
			max-width: rem(432);
		}
	}
	&--reverse {
		position: relative;
		overflow: visible;
		z-index: 3;
		background-color: $white;
		border-radius: 0 0 rem(32) rem(32);
		margin-bottom: rem(-40);
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: rem(-40);
		// 	height: rem(80);
		// 	width: 100%;
		// 	background-color: $white;
		// 	border-radius: 0 0 rem(32) rem(32);
		// 	z-index: -1;
		// }
		.sCardHorizontalItem {
			&:nth-child(even) {
				.sCardHorizontalItem__row {
					flex-direction: row;
				}
			}
			&:nth-child(odd) {
				.sCardHorizontalItem__row {
					flex-direction: row-reverse;
				}
			}
			&:last-child {
				@include media-breakpoint-down(lg) {
					padding-bottom: 20px;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCardHorisontal

.sCardHorizontalItem {
	padding-bottom: calc(var(--sPB) * 2);
	// margin-bottom: rem(168);
	.swiper-wrapper {
		@include row-sw(16px, lg, 24px);
	}
	&__slider {
		overflow: visible;
		@include media-breakpoint-up(lg) {
			overflow: hidden;
		}
	}
	&__slide {
		@include media-breakpoint-down(lg) {
			max-width: rem(320);
		}
		&.col-lg-12 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto !important;
				width: 100% !important;
			}
		}
		&.col-lg-6 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto !important;
				width: 50% !important;
			}
		}
	}
	&__row {
		--bs-gutter-x: rem(24);
		--bs-gutter-y: #{rem(16)};
		align-items: center;
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: 0;
		}
	}
	picture {
		text-align: center;
	}
	ul {
		li {
			font-size: 16px;
			line-height: calc(24 / 16);
			list-style: none;
			position: relative;
			padding-left: rem(20);
			margin-bottom: 0.25em;
			@include media-breakpoint-up(md) {
				line-height: 1;
				margin-bottom: 0.5em;
			}
			&::before {
				content: "";
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: currentColor;
				left: 0;
				top: em(10);
				position: absolute;
				@include media-breakpoint-up(md) {
					top: em(6);
				}
			}
		}
	}
	&:nth-child(even) &__row {
		flex-direction: row-reverse;
	}
	h2 {
		// @include rfs()
		color: $primary;
		margin-bottom: rem(16);
	}
	p {
		span {
			color: $primary;
			@include rfs(rem(19));
			line-height: calc(24 / 22);
			font-weight: 500;
			@include media-breakpoint-up(sm) {
				font-size: rem(22);
			}
		}
	}
	&__caption {
	}
	&__head {
		margin-bottom: rem(24);
		max-width: rem(570);
	}
	&__slider {
		& + p {
			margin-top: rem(24);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__body {
		// .row {
		// 	--bs-gutter-x: 16px;
		// 	--bs-gutter-y: calc(var(--bs-gutter-x) * 1.5);
		// }
	}
	&__text-block {
		// margin-bottom: rem(24);
		@include media-breakpoint-down(lg) {
			height: 100%;
			padding: rem(16);
			border: 1px solid $primary;
			border-radius: $border-radius;
		}

		p {
			margin-bottom: rem(8);
			line-height: calc(24 / 16);
			@include media-breakpoint-up(lg) {
				line-height: 1;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		strong {
			@include rfs(rem(19));
			line-height: calc(24 / 22);
			// font-weight: 500;
			@include media-breakpoint-up(sm) {
				font-size: rem(22);
			}
		}
	}
	&__btn {
		@extend .btn;
		// flex-grow: 1;
		// width: calc(50% - 1rem);
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(48);
		padding: 0 rem(5);
		white-space: nowrap;
		@include media-breakpoint-only(sm) {
			font-size: rem(19);
		}
		@include media-breakpoint-down(sm) {
			max-width: rem(328);
			margin-left: auto;
			margin-right: auto;
		}
		.icon {
			font-size: rem(24);
			margin-right: rem(8);
		}
	}
	.btn-outline-primary {
		&:not(:hover) {
			background-color: #fff;
		}
	}
	&__btns {
		margin-top: rem(24);
		.row {
			--bs-gutter-x: 16px;
			--bs-gutter-y: calc(var(--bs-gutter-x) / 2);
		}
		// display: flex;
		// flex-wrap: wrap;
		// @include roww(1rem, m);
	}
}
