.menu {
	text-align: center;
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
		@include media-breakpoint-up(md){

			background: radial-gradient(circle 32px at var(--x, 0) var(--y, 0), #D67644 99%, #fff 100%) fixed;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		color: #fff;
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a {
		display: block;
			@include media-breakpoint-up(xl) {
				font-size: 48px !important;
			}
		@include rfs(40px);
		margin-bottom: calc(30 / 48 * 1em);
		@extend .mono;
		// color: #fff !important;
		// padding: rem(20) calc(var(--bs-gutter-x) / 2);

	}
}

// .toggle-menu-mobile {
// 	--h: #{em(2)};
// 	--color: #{$primary};
// 	--position: calc(var(--h) * 2);
// 	&.on span {
// 		--color: transparent;
// 	}

// 	&.on {
// 		--position: 0;
// 		--rotate: 45deg;
// 	}
// 	display: block;
// 	height: calc(var(--h) * 12);
// 	position: relative;
// 	font-size: 32px;
// 	width: 1em;
// 	cursor: pointer;
// 	span:after,
// 	span:before {
// 		content: "";
// 		position: absolute;
// 		left: 0;
// 	}
// 	span {
// 		@include a-cent(y);
// 		display: block;
// 	}

// 	span:before {
// 		top: var(--position);
// 		transform: rotate3d(0, 0, 1, var(--rotate, 0));
// 	}

// 	span:after {
// 		bottom: var(--position);
// 		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
// 	}
// 	span,
// 	span:after,
// 	span:before {
// 		// width: 32px;
// 		width: 1em;
// 		height: var(--h);
// 		background-color: var(--color);
// 		transition: all 0.3s;
// 		backface-visibility: hidden;
// 		transform-origin: 50% 50%;
// 	}
// }

.menu-mobile {
		@include media-breakpoint-up(md) {

			&:before {
				content: "";
				position: fixed;
				width: 64px;
				height: 64px;
				margin-left: -32px;
				margin-top: -32px;
				background: #fff;
				border-radius: 50%;
				transform: translate3d( var(--x, 0), var(--y, 0), 0);
				top: 0;
				left: 0; 
				z-index: -1;
				// @include mt;
			}
		}
	position: fixed !important;
		@include media-breakpoint-up(md){

			z-index: 1001; 
		}
		z-index: 999; 
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	top: 0; 
	left: 0;
	background: rgba(214, 118, 68, 0.9);
	backdrop-filter: blur(5px);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	&.active {
		opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
		ul {
    opacity: 1; 
    transform: rotateX(0deg);
}
		.toggle-menu-mobile {
			opacity: 0;
		}
	}
	&.close  ul { 
		transform: translateY(25%) rotateX(-35deg);
	}

	@include mt(0.6s);
	will-change: transform;

	.toggle-menu-mobile {
			@include media-breakpoint-down(md){
				display: none !important;
			}
		position: absolute; 
		left: 26px;
    top: 13px;
		background: none !important;
		right: auto;
		color: $body-color !important;
		z-index: 9999;
		span:after,
		span:before {
			background:   $body-color !important;
		}
	}
	&__inner {
		padding: rem(20) 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// @include mt(0.3s);
		// transition-delay: 0.4s;
		// opacity: var(--opacity);
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}
	ul{
		opacity: 0.4; 
    transform: translateY(-25%) rotateX(35deg); 
    transition: transform 0.5s, opacity 0.5s;
		}

}
