mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(main) 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row-main.row
				+e.col--left.col-auto
					+e.controls--left
						+menu-toggle()
						+e.logo(href="/")
							+icon('logo')
				.col
				+e.col--right.col-auto
					+e.controls--right
						.dropdown.dropdown--notification
							+e.btn.dropdown__toggle
								+icon('notification')
								+e.btn-count 2
						if main
							+e.btn(href="#")
								+icon('account-header')
								+e.SPAN.btn-text Личный кабинет
						else
							.dropdown.dropdown--cabinet
								+e.btn.dropdown__toggle
									+pic('nav-avatar-1.jpg', 'bg', 0)
									+icon('close')
									+e.SPAN.btn-text Личный кабинет
								.dropdown__block
									+aside-menu()
										+e.BUTTON.exit
											+icon('exit')
											span Выйти
		+mob-mnu()

	// end top-nav