body.fixed {
	@include media-breakpoint-down(md) {
		.top-nav {
			&::before {
				// transform: translateY(100%);
				// opacity: 0;
				// z-index: -1200;
			}
			a,
			&__logo {
				color: $white;
			}
			&__btn {
				color: $white !important;
			}
			&__btn-count {
				background-color: $white;
				color: $body-color;
			}
			.dropdown__block {
				a {
					&:not(:hover) {
						color: $dark;
					}
				}
			}
		}
	}
}
.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary);
	//
	left: 0;
	@include media-breakpoint-down(md) {
		&::before {
			content: "";
			background: #ffffff;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			@include mt;
		}
		/* Deep */

		box-shadow: 0px 0px 8px rgba(214, 118, 68, 0.22);
	}
	@include media-breakpoint-down(md) {
		position: fixed;
		z-index: 1000;
		width: 100%;
	}
	&__col {
		z-index: 1000;
		padding-top: rem(12);
		padding-bottom: rem(12);
		@include media-breakpoint-up(md) {
			position: relative;
			padding: rem(12) 0;
			top: 0;
			&--left {
				left: calc(var(--bs-gutter-x) / 2 + 10px);
			}
			&--right {
				right: calc(var(--bs-gutter-x) / 2 - 1 * (100vw - 100%) + 20px);
			}
			position: fixed;
		}
	}
	@include media-breakpoint-up(md) {
		top: 0;
		bottom: auto;
	}
	bottom: 0;
	width: 100%;
	// pointer-events: none;
	// width: 100vw;
	--bs-gutter-x: 1rem;
	@include media-breakpoint-up(lg) {
		// background-color: red;
		--bs-gutter-x: 1.5rem;
	}
	@include media-breakpoint-up(xl) {
		// background-color: #000;
		// border: 1px solid #000;
	}
	&__row-main {
		align-items: center;
	}
	&__controls {
		@include mt;
		@include roww(16px, m);
		display: flex;
		align-items: center;
		& > * {
			pointer-events: all;
		}
		a {
			// display: inline-block;

			color: $dark;
		}
		&--right {
			justify-content: flex-end;
			.icon {
				@include mt;
				font-size: rem(32);
				@include media-breakpoint-up(md) {
					font-size: rem(24);
				}
			}
			picture {
				width: rem(32);
				height: rem(32);
				background-color: $gray-light;
				border-radius: 50%;
				overflow: hidden;
				@include media-breakpoint-up(md) {
					width: rem(24);
					height: rem(24);
				}
			}
		}
	}
	&__btn {
		@extend .btn;
		// @include mt;
		position: relative;
		border: none !important;
		outline: none !important;
		background-color: transparent;
		color: $dark;
		padding: 0;
		min-width: rem(40);
		border-radius: rem(100);
		display: flex;
		align-items: center;
		height: rem(40);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			// @include mt;
		}
		@include media-breakpoint-up(md) {
			padding: 3px;
		}
		&:hover {
			color: $link-hover-color;
			.icon {
			}
		}
	}
	&__btn-count {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: rem(5);
		right: rem(6);
		width: rem(14);
		height: rem(14);
		color: $white;
		background-color: $primary;
		border-radius: 50%;
		font-size: rem(10);
		line-height: 1.2;
		@include mt;
	}
	// a {
	// 	@include mt;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	padding-top: 3px;
	// 	padding-bottom: 3px;

	// 	font-size: rem(14);
	// 	line-height: calc(16 / 14);
	// 	font-weight: 500;
	// 	&:hover {
	// 		.icon {
	// 			color: $link-hover-color;
	// 		}
	// 	}
	// }
	&__btn-text {
		font-size: rem(14);
		margin-left: rem(8);
		display: none;
		@include media-breakpoint-up(md) {
			display: inline-block;
		}
	}
	&__logo {
		.icon {
			font-size: rem(27);
		}
	}

	.cabinet-link {
		span {
		}
	}

	.toggle-menu-mobile {
		@include mt;
		--h: 2px;
		--color: #{$white};
		--position: 5px;
		// --position: calc(var(--h) * 2);
		width: 40px;
		height: 40px;
		background-color: #de8a5e;
		border-radius: 0 50% 50% 50%;
		@include media-breakpoint-up(md) {
			&:hover {
				background-color: $link-hover-color;
			}
		}
		&.on span {
			--color: transparent;
			&::after,
			&::before {
				background-color: $white;
			}
		}

		&.on {
			--position: 0;
			--rotate: 45deg;
		}
		display: block;
		// height: calc(var(--h) * 5);
		position: relative;
		font-size: 18px;
		// width: 1em;
		cursor: pointer;
		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
		}
		span {
			@include a-cent;
			display: block;
		}

		span:before {
			top: var(--position);
			transform: rotate3d(0, 0, 1, var(--rotate, 0));
		}

		span:after {
			bottom: var(--position);
			transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
		}
		span,
		span:after,
		span:before {
			// width: 32px;
			width: 1em;
			height: var(--h);
			background-color: var(--color);
			transition: all 0.3s;
			backface-visibility: hidden;
			transform-origin: 50% 50%;
		}
	}
	&.fixed {
		@include media-breakpoint-up(md) {
			.toggle-menu-mobile {
				margin-right: 0;
				margin-left: 0;
				background-color: transparent;
				--color: #{$dark};
				&.on span {
					--color: transparent;
					&::after,
					&::before {
						background-color: $dark;
					}
				}
			}
			.top-nav__logo {
				margin-left: 0;
				color: $primary;
			}
			.top-nav__controls {
				&--left {
					margin: 0;
					background-color: $white;
					border-radius: 0 rem(150) rem(150) rem(150);
					filter: drop-shadow(0px 0px 8px rgba(214, 118, 68, 0.22));
					&:hover {
						.top-nav__logo {
							color: $link-hover-color;
						}
					}
				}
				&--right {
					--bs-gutter-x: #{rem(8)};
				}
			}
			.top-nav__btn {
				width: rem(40);

				// margin-right: rem(4);

				background-color: $white;
				filter: drop-shadow(0px 0px 8px rgba(214, 118, 68, 0.22));
			}
			.top-nav__btn-count {
				top: rem(5);
				right: rem(6);
			}
			.top-nav__btn-text {
				width: 1px;
				opacity: 0;
				margin-left: 0;
			}
			.cabinet-link {
				width: rem(40);
				height: rem(40);
				margin-left: rem(4);
				border-radius: 50%;
				background-color: $white;
				filter: drop-shadow(0px 0px 8px rgba(214, 118, 68, 0.22));
				span {
					display: none;
				}
			}
			.dropdown {
				&--cabinet {
					.dropdown__block {
						// right: rem(-15);
						&::before {
							--rPos: 18%;
						}
					}
				}
				&--notification {
				}
			}
		}
	}

	.dropdown {
		&--cabinet {
			.dropdown__block {
				@include media-breakpoint-up(md) {
					padding: rem(13) rem(16);
					width: rem(195);
					left: auto;
					right: rem(-13);
				}
				&::before {
					@include media-breakpoint-up(md) {
						// --rPos:
					}
				}
			}
		}
		&--notification {
			.dropdown__block {
				padding: 0;

				@include media-breakpoint-up(md) {
					padding: 0;
					width: rem(258);
					left: auto;
					right: rem(-13);
				}
				&::before {
					@include media-breakpoint-up(md) {
						// --rPos:
					}
				}
			}
		}
	}

	.cabinet-menu {
		max-height: calc(100vh - #{rem(64)});
		@include media-breakpoint-up(md) {
			max-height: 80vh;
		}
		// &::-webkit-scrollbar {
		// 	width: 4px;
		// }
		// &::-webkit-scrollbar-track {
		// 	background-color: transparent;
		// }
		// &::-webkit-scrollbar-thumb {
		// 	border-radius: 4px;
		// 	background-color: $gray-light;
		// 	margin-right: 4px;
		// }
		ul {
			position: relative;
			padding-bottom: rem(24);
			margin-bottom: rem(16);
			@include media-breakpoint-up(md) {
				padding-bottom: rem(12);
				margin-bottom: rem(12);
			}
			&::after {
				content: "";
				position: absolute;
				width: calc(100% + rem(16));
				height: 1px;
				bottom: 0;
				left: rem(-8);
				background-color: $gray-light;
			}
		}
		li {
			font-size: 19px;
			line-height: 24px;
			margin-bottom: rem(24);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
				line-height: 1;
				// margin-bottom: rem(24);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			// display: inline;
			// padding-top: rem(4);
			// padding-bottom: rem(4);
			&:hover {
				color: $link-hover-color;
			}
		}
		&__exit {
			@extend .btn;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			&:hover {
				color: $link-hover-color;
			}
			.icon {
				@include mt;
				font-size: rem(32);
				margin-right: rem(4);
				display: block;
				@include media-breakpoint-up(md) {
					font-size: rem(24);
				}
			}
			span {
				@include mt;
				font-size: 19px;
				line-height: 24px;
				@include media-breakpoint-up(md) {
					font-size: rem(16);
					line-height: 1;
				}
			}
		}
	}
	// p{
	// 	@include ell();
	// }
	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

.dropdown {
	@include media-breakpoint-up(md) {
		position: relative;
	}
	&:hover {
		--di: " ";
		&::before {
			@include media-breakpoint-up(md) {
				content: "";
				position: absolute;
				width: calc(100% + #{rem(16)});
				height: calc(100% + #{rem(20)});
				top: 0;
				left: rem(-8);
			}
		}
	}
	&__block {
		position: absolute;
		display: var(--di, none);
		margin: 0;
		left: 0;
		bottom: 100%;
		width: 100vw;
		background-color: $white;
		z-index: 5;
		border-radius: 8px 8px 0 0;
		padding: rem(24) rem(16) rem(16);
		filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
		@include media-breakpoint-up(md) {
			top: calc(100% + #{rem(13)});
			bottom: auto;
			border-radius: 8px;
		}

		&::before {
			@include media-breakpoint-up(md) {
				content: "";
				position: absolute;
				background-image: url(../img/svg/filledTriangle.svg);
				background-repeat: no-repeat;
				width: rem(16);
				height: rem(8);
				top: rem(-8);
				right: var(--rPos, 50%);
				transform: translateX(50%) rotate(180deg);
			}
		}
	}
	&--cabinet {
		.icon {
			display: none;
		}
		@include media-breakpoint-down(lg) {
			&:hover {
				.icon {
					display: block;
					// color: $dark;
				}
				picture {
					display: none;
				}
			}
		}
	}
}
