.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		// &:hover {
		// 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		// 	opacity: .6 ;
		// }
	}
	.icon {
		font-size: rem(30);
	}
	&--contact {
		--bs-gutter-x: 8px;
		.soc__item {
			width: rem(40);
			height: rem(40);
			border: 1px solid currentColor;
			border-radius: 8px;
			
			img {
				width: rem(24);
				height: rem(24);
			}
			.icon {
				font-size: rem(24);
			}
		}
	}
	&--reg {
		--bs-gutter-x: #{rem(24)};
		justify-content: center;
		.soc__item {
			width: rem(48);
			height: rem(48);
			border: 1px solid $gray-medium;
			border-radius: 8px;
			&:hover {
				border-color: $primary;
			}
			img {
				width: rem(24);
				height: rem(24);
			}
			.icon {
				font-size: rem(24);
			}
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.page-head {
	text-align: center;
	background-image: var(--headBg);
	padding-bottom: rem(24);
	.container {
		position: relative;
		z-index: 3;
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(41);
			padding-top: rem(120);
		}
	}
	&__title {
		h1 {
			@extend .h3;
		}
		p {
			@extend .medium-subtitle;
			font-weight: 400;
			max-width: rem(760);
			// margin-top: rem(16px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(28px);
			display: inline-block;
		}
	}
	&__typed-wrap {
		min-height: rem(24);
		margin-bottom: rem(28px);
		p {
			margin: 0;
			padding: 0;
			max-width: 100%;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		// display: inline-block;
		// font-size: rem(22);
		// padding: 12px 8px;
		// background: $primary;
		// color: $white;
		// border-radius: rem(8);
		width: 100%;
		max-width: rem(328);
		@include media-breakpoint-up(sm) {
			max-width: rem(276);
		}
		// &:hover {
		// 	box-shadow: 0px 20px 24px rgba(214, 118, 68, 0.2);
		// 	color: $white;
		// }
	}
	&.text-start {
		--contentW: #{rem(374)};
	}
	&.text-start &__content {
		@include media-breakpoint-down(lg) {
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(98);
		}
	}
	&--headNews .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(170.6);
		}
	}
	
	&--noResult .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(110.6);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(40);
				}
			}
		}
	}

	&--search-result .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(144);
			padding-bottom: rem(128);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(40);
				}
			}
		}
	}

	&--tabResult .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(171.4);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(41);
				}
			}
		}
	}
	&__content {
		@include media-breakpoint-up(lg) {
			max-width: var(--contentW);
		}
		picture {
			@include media-breakpoint-down(lg) {
				text-align: center;
			}
		}
		img {
			margin-bottom: 3px;
			@include media-breakpoint-up(lg) {
				position: absolute;
				margin-bottom: 0;
				max-height: calc(100% - 57px);
			}
			bottom: rem(0);
			right: rem(16);
		}
	}
	.searchForm {
		&__formText {
			font-size: rem(12);
			margin-top: rem(16);
			@include media-breakpoint-up(lg) {
				font-size: rem(14);
			}
			@include media-breakpoint-down(lg) {
				margin-top: rem(8);
				text-align: left;
			}
		}
	}
	// &--news {
	// 	p {
	// 		font-size: rem(19);
	// 		@include media-breakpoint-up(sm) {
	// 			font-size: rem(22);
	// 			font-weight: 400;
	// 		}
	// 	}
	// 	.searchForm {
	// 		&__formText {
	// 			font-size: rem(16);
	// 			@include media-breakpoint-down(lg) {
	// 				margin-top: rem(80);
	// 				text-align: center;
	// 				max-width: rem(327);
	// 			}
	// 		}
	// 	}
	// }

	&--sexEduc {
		.container {
			@include media-breakpoint-up(lg) {
				padding-top: rem(213) !important;
				padding-bottom: rem(191) !important;
			}
		}
		.page-head__content {
			img {
				margin-bottom: 0;
				@include media-breakpoint-up(xl) {
					right: rem(87);
				}
			}
		}
	}
	&--courses {
		padding-bottom: rem(384);
	}
	&--articles {
		padding-bottom: rem(384);
		& + .section {
			margin-top: rem(-384);
		}
		& > .container {
			padding-top: rem(32);
			padding-bottom: rem(37);
			@include media-breakpoint-up(md) {
				padding-bottom: rem(45);
				padding-top: rem(86);
			}
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(45);
				padding-top: rem(86);
			}
		}
		.page-head__title {
			text-align: left;
			h1 {
				text-align: center;
				max-width: 16em;
				margin-left: auto;
				margin-right: auto;
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(16);
					max-width: 100%;
				}
			}
		}
	}
}

.link-back {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:not(:hover) {
		color: $dark;
	}
	.icon {
		font-size: rem(16);
	}
	span {
		margin-left: 2px;
		font-size: rem(16);
		line-height: calc(19 / 16);
	}
}

.pricing-block {
	.row {
		align-items: center;
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(12)};
	}
	&__col {
		display: flex;
		align-items: center;
		color: $primary;
		& > span {
			align-self: flex-end;
			margin-left: -0.3em;
			white-space: nowrap;
		}
	}
	&__num {
		display: flex;
		font-family: "Lovelace";
		font-size: rem(32);
		line-height: 0.9;
		span {
			font-size: 0.62em;
			margin-left: 0.05em;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding: rem(8) rem(26);
	}
}

.help-tooltip {
	position: relative;
	display: inline-block;
	width: rem(16);
	height: rem(16);
	&:hover {
		span {
			visibility: visible;
			opacity: 1;
		}
	}
	span {
		@include mt;
		position: absolute;
		display: inline-block;
		width: rem(220);
		bottom: calc(100% + 3px);
		left: rem(-30);
		padding: rem(8);
		background-color: $white;
		font-size: rem(14);
		line-height: calc(16 / 14);
		border-radius: $border-radius;
		z-index: 2;
		filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
		visibility: hidden;
		opacity: 0;
		&::before {
			content: "";
			position: absolute;
			width: rem(12);
			height: rem(12);
			left: rem(32);
			top: calc(100% - 8px);
			z-index: 1;
			border-radius: 2px;
			background-color: $white;
			transform: rotate(45deg);
		}
	}
	.icon {
		font-size: rem(16);
		fill: none;
		stroke: currentColor;
	}
}
