.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		// &:hover {
		// 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		// 	opacity: .6 ;
		// }
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.page-head {
	text-align: center;
	padding-top: rem(32);
	padding-bottom: 0;
	background: linear-gradient(0deg, rgba(228,212,186,0) 0%, rgba(228,212,186,0.7679446778711485) 40%, rgba(228,212,186,1) 100%);
	@include media-breakpoint-up(md) {
		padding-top: rem(104px);
	}
	.container {
		position: relative;
		z-index: 3;
	}
	h1 {
		font-size: rem(40);
		@include media-breakpoint-up(md) {
			font-size: rem(70);
		}
	}
	p {
		max-width: rem(760);
		font-size: rem(19);
		@include media-breakpoint-up(md) {
			font-size: rem(22);
		}
		font-weight: 500;
		margin-top: rem(16px);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(28px);
	}
	&__btn {
		@extend .btn, .btn-primary;
		// display: inline-block;
		// font-size: rem(22);
		// padding: 12px 8px;
		// background: $primary;
		// color: $white;
		// border-radius: rem(8);
		width: 100%;
		max-width: rem(328);
		@include media-breakpoint-up(sm) {
			max-width: rem(276);
		}
		// &:hover {
		// 	box-shadow: 0px 20px 24px rgba(214, 118, 68, 0.2);
		// 	color: $white;
		// }
	}
}

.pricing {
	.row {
		align-items: center;
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(12)};
	}
	&__col {
		display: flex;
		align-items: center;
		color: $primary;
		& > span {
			align-self: flex-end;
			margin-left: -0.3em;
			white-space: nowrap;
		}
	}
	&__num {
		display: flex;
		font-family: "Lovelace";
		font-size: rem(32);
		line-height: 0.9;
		span {
			font-size: 0.62em;
			margin-left: 0.05em;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding: rem(8) rem(26);
	}
	
}
