.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		// &:hover {
		// 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		// 	opacity: .6 ;
		// }
	}
	.icon {
		font-size: rem(30);
	}
	&--contact {
		--bs-gutter-x: 8px;
		.soc__item {
			width: rem(40);
			height: rem(40);
			border: 1px solid currentColor;
			border-radius: 8px;

			img {
				width: rem(24);
				height: rem(24);
			}
			.icon {
				font-size: rem(24);
			}
		}
	}
	&--reg {
		--bs-gutter-x: #{rem(24)};
		justify-content: center;
		.soc__item {
			width: rem(48);
			height: rem(48);
			border: 1px solid $gray-medium;
			border-radius: 8px;
			&:hover {
				border-color: $primary;
			}
			img {
				width: rem(24);
				height: rem(24);
			}
			.icon {
				font-size: rem(24);
			}
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.page-head {
	text-align: center;
	background-image: var(--headBg);
	padding-bottom: rem(24);
	.container {
		position: relative;
		z-index: 3;
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(41);
			padding-top: rem(120);
		}
	}
	&__title {
		h1 {
			@extend .h3;
		}
		p {
			@extend .medium-subtitle;
			font-weight: 400;
			max-width: rem(760);
			// margin-top: rem(16px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(28);
			display: inline-block;
		}
	}
	&__typed-wrap {
		min-height: rem(24);
		margin-bottom: rem(28px);
		p {
			margin: 0;
			padding: 0;
			max-width: 100%;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		// display: inline-block;
		// font-size: rem(22);
		// padding: 12px 8px;
		// background: $primary;
		// color: $white;
		// border-radius: rem(8);
		width: 100%;
		max-width: rem(328);
		@include media-breakpoint-up(sm) {
			max-width: rem(276);
		}
		// &:hover {
		// 	box-shadow: 0px 20px 24px rgba(214, 118, 68, 0.2);
		// 	color: $white;
		// }
	}
	&.text-start {
		--contentW: #{rem(374)};
	}
	&.text-start &__content {
		@include media-breakpoint-down(lg) {
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(98);
		}
	}
	&--headNews .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		p {
			margin-bottom: rem(9);
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(193);
		}
	}

	&--noResult .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		p {
			margin-bottom: rem(9);
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(133);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(40);
				}
			}
		}
	}

	&--search-result .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		p {
			margin-bottom: rem(9);
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(144);
			padding-bottom: rem(149);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(40);
				}
			}
		}
	}

	&--tabResult .container {
		padding-top: rem(32);
		padding-bottom: rem(0);
		p {
			margin-bottom: rem(9);
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(145.6);
			padding-bottom: rem(192.2);
		}
		.page-head__content {
			img {
				@include media-breakpoint-up(xl) {
					right: rem(41);
				}
			}
		}
	}
	&--article {
		text-align: left;
		@extend .h1;
		h1 {
			color: $primary;
			line-height: calc(80 / 72);
			@include rfs(rem(72));
		}
		p {
			font-family: var(--bs-body-font-family);
			font-size: rem(19);
			line-height: rem(24);
			color: $dark;
			@include media-breakpoint-up(lg) {
				font-size: rem(22);
			}
		}
		& > .container {
			max-width: rem(794);
		}
	}
	&__content {
		@include media-breakpoint-up(lg) {
			max-width: var(--contentW);
		}
		picture {
			@include media-breakpoint-down(lg) {
				text-align: center;
			}
		}
		img {
			margin-bottom: 3px;
			@include media-breakpoint-up(lg) {
				position: absolute;
				margin-bottom: 0;
				max-height: calc(100% - 57px);
			}
			bottom: rem(0);
			right: rem(16);
		}
	}
	.searchForm {
		position: relative;
		top: 23px;
		max-width: rem(374);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
		}
		&__input {
			border: none;
			border: 1px solid $dark;
			border-radius: rem(8) 0 rem(8) rem(8);
			padding: 8px 16px;
			&:focus {
				border-color: $primary;
			}
			&::placeholder {
				font-size: rem(22);
			}
			@include media-breakpoint-up(lg) {
				border-width: 0;
			}
		}
		button {
			position: absolute;
			top: rem(7);
			right: rem(7);
			background-color: transparent;
			border: none;
			z-index: 18;
			svg {
				font-size: rem(24);
			}
		}
		&__formText {
			font-size: rem(12);
			margin-top: rem(16);
			@include media-breakpoint-up(lg) {
				font-size: rem(14);
			}
			@include media-breakpoint-down(lg) {
				margin-top: rem(8);
				text-align: left;
			}
		}
	}
	// &--news {
	// 	p {
	// 		font-size: rem(19);
	// 		@include media-breakpoint-up(sm) {
	// 			font-size: rem(22);
	// 			font-weight: 400;
	// 		}
	// 	}
	// 	.searchForm {
	// 		&__formText {
	// 			font-size: rem(16);
	// 			@include media-breakpoint-down(lg) {
	// 				margin-top: rem(80);
	// 				text-align: center;
	// 				max-width: rem(327);
	// 			}
	// 		}
	// 	}
	// }

	&--sexEduc {
		.container {
			@include media-breakpoint-up(lg) {
				padding-top: rem(213) !important;
				padding-bottom: rem(191) !important;
			}
		}
		.page-head__content {
			img {
				margin-bottom: 0;
				@include media-breakpoint-up(xl) {
					right: rem(87);
				}
			}
		}
	}
	&--courses {
		padding-bottom: rem(384);
	}
	&--articles {
		padding-bottom: rem(384);
		& + .section {
			margin-top: rem(-384);
		}
		& > .container {
			padding-top: rem(32);
			padding-bottom: rem(37);
			@include media-breakpoint-up(md) {
				padding-bottom: rem(45);
				padding-top: rem(86);
			}
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(45);
				padding-top: rem(86);
			}
		}
		.page-head__title {
			text-align: left;
			h1 {
				text-align: center;
				max-width: 16em;
				margin-left: auto;
				margin-right: auto;
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(16);
					max-width: 100%;
				}
			}
		}
	}
	&--about {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 26px;
			left: 0;
			bottom: -1px;
			background-color: $white;
			border-radius: 24px 24px 0px 0px;
		}
		.container {
			@include media-breakpoint-up(lg) {
				padding-top: rem(185);
				padding-bottom: rem(192);
			}
		}
		.page-head__content {
			max-width: rem(470);
			@include media-breakpoint-up(lg) {
			}

			img {
				@include media-breakpoint-up(lg) {
					position: static;
					max-height: 100%;
				}
			}
		}
		.page-head__img-wrap {
			position: relative;
			@include media-breakpoint-up(lg) {
				position: absolute;
				max-height: calc(100% - 57px);
				bottom: 0;
				right: 5%;
			}
			@include media-breakpoint-up(xl) {
				right: 10.4%;
			}
		}
		.page-head__title {
			margin-bottom: rem(60);
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
			h1 {
				margin-bottom: rem(16);
			}
			p {
				margin-bottom: 0;
			}
		}
	}
	&--faq {
		padding-bottom: rem(88);
	}
}

.buble {
	position: absolute;
	border-radius: rem(32);
	background-color: $white;
	padding: rem(6) rem(17);
	line-height: 16px;
	font-size: rem(12);
	@include media-breakpoint-up(sm) {
		font-size: rem(16);
		padding: rem(8) rem(19);
	}
	&::before {
		content: "";
		position: absolute;
		background-image: url(../img/svg/bubble-tail.svg);
		background-repeat: no-repeat;
		width: rem(21);
		height: rem(16);
	}
	&.left {
		&::before {
			right: 12%;
		}
	}
	&.right {
		&::before {
			left: 12%;
		}
	}
	&--top {
		&::before {
			top: calc(100% - 6px);
			@include media-breakpoint-up(sm) {
				top: calc(100% - 4px);
			}
		}
		&.left {
			&::before {
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}
			top: -11%;
			left: -2%;
			@include media-breakpoint-up(sm) {
				top: 24%;
				left: -10%;
			}
			@include media-breakpoint-up(md) {
				top: 24%;
				left: -17%;
			}
			@include media-breakpoint-up(xl) {
				top: 24%;
				left: -21%;
			}
		}
		&.right {
			right: -2%;
			top: -1%;
			@include media-breakpoint-up(sm) {
				right: -10%;
				top: 12%;
			}
			@include media-breakpoint-up(md) {
				right: -14%;
				top: 12%;
			}
			@include media-breakpoint-up(xl) {
				right: -29%;
				top: 12%;
			}
		}
	}
	&--bottom {
		&::before {
			bottom: calc(100% - 6px);
			transform: rotate(-180deg);
			@include media-breakpoint-up(sm) {
				bottom: calc(100% - 4px);
			}
		}
		&.left {
			left: -2%;
			bottom: 30%;
			@include media-breakpoint-up(sm) {
				left: -10%;
				bottom: 12%;
			}
			@include media-breakpoint-up(md) {
				left: -24%;
				bottom: 12%;
			}
			@include media-breakpoint-up(xl) {
				left: -33%;
				bottom: 12%;
			}
		}
		&.right {
			&::before {
				transform: matrix(1, 0, 0, -1, 0, 0);
			}
			right: -2%;
			bottom: 4%;
			@include media-breakpoint-up(sm) {
				right: -10%;
				bottom: 30%;
			}
			@include media-breakpoint-up(md) {
				right: -14%;
				bottom: 30%;
			}
			@include media-breakpoint-up(xl) {
				right: -29%;
				bottom: 30%;
			}
		}
	}
}

.link-back {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:not(:hover) {
		color: $dark;
	}
	.icon {
		font-size: rem(16);
	}
	span {
		margin-left: 2px;
		font-size: rem(16);
		line-height: calc(19 / 16);
	}
}

.pricing-block {
	.row {
		align-items: center;
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(12)};
	}
	&__col {
		display: flex;
		align-items: center;
		color: $primary;
		& > span {
			align-self: flex-end;
			margin-left: -0.3em;
			white-space: nowrap;
		}
	}
	&__num {
		display: flex;
		font-family: "Lovelace";
		font-size: rem(32);
		line-height: 0.9;
		span {
			font-size: 0.62em;
			margin-left: 0.05em;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding: rem(8) rem(26);
	}
}

.help-tooltip {
	position: relative;
	display: inline-block;
	width: rem(16);
	height: rem(16);
	margin-left: rem(3);
	&:hover {
		span {
			visibility: visible;
			opacity: 1;
		}
	}
	span {
		@include mt;
		position: absolute;
		display: inline-block;
		width: rem(220);
		bottom: calc(100% + 3px);
		left: rem(-46);
		padding: rem(8);
		background-color: $white;
		font-size: rem(14);
		line-height: calc(16 / 14);
		border-radius: $border-radius;
		z-index: 2;
		filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
		visibility: hidden;
		opacity: 0;
		&::before {
			content: "";
			position: absolute;
			width: rem(12);
			height: rem(12);
			left: rem(48);
			top: calc(100% - 8px);
			z-index: 1;
			border-radius: 2px;
			background-color: $white;
			transform: rotate(45deg);
		}
	}
	.icon {
		font-size: rem(16);
		fill: none;
		stroke: currentColor;
	}
}

.courseItem {
	position: relative;
	padding: rem(24) rem(16) rem(24) rem(36);
	border: 1px solid #A0D4D9;
	border-radius: 32px;
	margin-left: rem(20);
	&__check {
		position: absolute;
		top: 50%;
		left: rem(-20);
		background-color: #A0D4D9;
		padding: rem(8);
		border-radius: 50%;
		transform: translateY(-50%);
		.icon {
			font-size: rem(24);
		}
	}
	h6 {
		font-weight: 500;
		font-size: rem(19);
		font-family: $default-font;
		margin-bottom: rem(8);
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
	}
	p {
		margin-bottom: 0;
	}
	&:not(:last-child) {
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(8);
		}
	}
	&--get {
		padding: rem(9.6) rem(16) rem(6.4) rem(24);
		max-width: rem(467);
		border: none;
		box-shadow: 0px 0px 8px rgba(214, 118, 68, 0.22);
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
		@include media-breakpoint-up(lg) {
			padding-left: rem(37);
		}
	}
}