.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		// &:hover {
		// 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		// 	opacity: .6 ;
		// }
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.page-head {
	text-align: center;
	background-image: var(--headBg);
	.container {
		position: relative;
		z-index: 3;
		padding-top: rem(32);
		padding-bottom: rem(0);
		@include media-breakpoint-up(lg) {
			padding-top: rem(152px);
			padding-bottom: rem(169);
		}
	}
	h1 {
		font-size: rem(40);
		@include media-breakpoint-up(md) {
			font-size: rem(70);
		}
	}
	p {
		max-width: rem(760);
		font-size: rem(19);
		@include media-breakpoint-up(md) {
			font-size: rem(22);
		}
		font-weight: 500;
		margin-top: rem(16px);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(28px);
	}
	&__btn {
		@extend .btn, .btn-primary;
		// display: inline-block;
		// font-size: rem(22);
		// padding: 12px 8px;
		// background: $primary;
		// color: $white;
		// border-radius: rem(8);
		width: 100%;
		max-width: rem(328);
		@include media-breakpoint-up(sm) {
			max-width: rem(276);
		}
		// &:hover {
		// 	box-shadow: 0px 20px 24px rgba(214, 118, 68, 0.2);
		// 	color: $white;
		// }
	}
	--contentW: #{rem(374)};
	&.text-start &__content {
		max-width: var(--contentW);
	}
	&__content {
		@include media-breakpoint-up(xl) {
			margin-left: rem(98);
		}
		@include media-breakpoint-down(lg) {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			position: absolute;
			@include media-breakpoint-down(lg) {
				position: static;
				margin-bottom: 3px;
			}
			bottom: 0;
			right: rem(16);
		}
	}
	&.pageHeadNews {
		h1 {
			font-size: rem(28);
			@include media-breakpoint-up(sm) {
				font-size: rem(48);
			}
		}
		p {
			font-size: rem(19);
			@include media-breakpoint-up(sm) {
				font-size: rem(22);
				font-weight: 400;
			}
		}
	}
}
.pricing-block {
	.row {
		align-items: center;
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(12)};
	}
	&__col {
		display: flex;
		align-items: center;
		color: $primary;
		& > span {
			align-self: flex-end;
			margin-left: -0.3em;
			white-space: nowrap;
		}
	}
	&__num {
		display: flex;
		font-family: "Lovelace";
		font-size: rem(32);
		line-height: 0.9;
		span {
			font-size: 0.62em;
			margin-left: 0.05em;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding: rem(8) rem(26);
	}
	
}

.help-tooltip {
	position: relative;
	display: inline-block;
	width: rem(16);
	height: rem(16);
	&:hover {
		span {
			visibility: visible;
			opacity: 1;
		}
	}
	span {
		@include mt;
		position: absolute;
		display: inline-block;
		width: rem(220);
		bottom: calc(100% + 3px);
		left: rem(-30);
		padding: rem(8);
		background-color: $white;
		font-size: rem(14);
		line-height: calc(16 / 14);
		border-radius: $border-radius;
		z-index: 2;
		filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
		visibility: hidden;
		opacity: 0;
		&::before {
			content: "";
			position: absolute;
			width: rem(12);
			height: rem(12);
			left: rem(32);
			top: calc(100% - 8px);
			z-index: 1;
			border-radius: 2px;
			background-color: $white;
			transform: rotate(45deg);
		}
	}
	.icon {
		font-size: rem(16);
		fill: none;
		stroke: currentColor;
	}
}
