// start .sClientProfile
.sClientProfile {
	--sPT: #{rem(16)};
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(24)};
	}
	.form-wrap {
		form {
			max-width: rem(374);
			margin-left: auto;
			margin-right: auto;
			padding-bottom: rem(24);
			border-bottom: 1px solid $gray-light;
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(40);
			}
		}
		&__btn {
			@extend .btn, .btn-primary;
			width: 100%;
		}
		&__btn-delete {
			display: block;
			font-size: rem(16);
			color: $primary;
			margin-top: rem(16);
			text-align: center;
			&:hover {
				color: $dark;
			}
			@include media-breakpoint-up(lg) {
				margin-top: rem(20);
			}
		}
	}
	.soc-profile {
		margin-top: rem(24);
		max-width: rem(374);
		margin-left: auto;
		margin-right: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sClientProfile

.profile {
	.modal-win {
		text-align: center;
		@include media-breakpoint-down(sm) {
			height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		h5 {
			color: $primary;
			margin-bottom: rem(24);
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(32);
			}
		}
		&__btn-wrrap {
			width: 100%;
		}
		&__btn {
			width: 100%;
			max-width: rem(160);
			&--successDelete {
				max-width: none;
			}
			@include media-breakpoint-up(sm) {
				max-width: rem(185);
				&--successDelete {
					max-width: rem(265);
				}
			}
		}
	}
}

.form-wrap {
	&__avatar {
		display: flex;
		justify-content: center;
		position: relative;
		width: rem(96);
		margin-left: auto;
		margin-right: auto;
		margin-top: rem(16);
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			margin-top: rem(24);
			margin-bottom: rem(8);
		}
		picture {
			border-radius: rem(81);
			img {
				border-radius: 5.0625rem;
			}
		}
		a {
			position: absolute;
			border: 1px solid $gray-medium;
			background-color: $white;
			border-radius: rem(12);
			text-align: center;
			vertical-align: baseline;
			width: rem(18);
			height: rem(18);
			right: 4px;
			top: 6px;
			.icon-close {
				padding-bottom: 3px;
				font-size: rem(12);
				color: $gray-medium;
			}
		}
	}
}