// start .sCourseContr
.sCourseContr {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	
	h3 {
		margin-bottom: rem(29);
		color: $primary;
	}
	.icon-close {
		font-size: rem(16);
	}
	span {
		position: absolute;
		top: 0;
		left: rem(17);
	}
	p {
		display: inline-block;
		font-size: rem(19);
		margin-left: rem(24);
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCourseContr