mixin ContraindicationsList(t)
	.col.col-lg-6.swiper-slide
		span
			+icon('close')
		p!= t

mixin sCourseContr(t)
	// start sCourseContr
	+b.sCourseContr.section#sCourseContr&attributes(attributes)
		.container
			.row 
				.col-12.col-lg-6
					+pic('courseCard-3.png')
				.col-12.col-lg-6
					h3!= t 
					.row
						block
	// end sCourseContr

