// start .sQuestions
.sQuestions {
	// --sPT: ;
	// --sTPB: ;
	@include media-breakpoint-up(xl) {
		--sPB: 55px;
	}
	&__inner {
		border: 1px solid $primary;
		border-radius: $border-radius-lg;
		padding: rem(40) 4.77%;
		@include media-breakpoint-up(xl) {
			padding: rem(38) rem(48) rem(48) rem(48);
		}
		h2 {
			color: $primary;
			margin-bottom: rem(16);
			@include media-breakpoint-down(sm) {
				margin-left: auto;
				margin-right: auto;
				max-width: 10em;
			}
		}
	}
	&__subtitle {
		font-weight: 500;
		font-size: rem(19);
		line-height: rem(24);
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(12) rem(18);
		height: 48px;
		max-width: rem(296);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(sm) {
			display: inline-flex;
		}
		.icon {
			font-size: rem(24);
			margin-right: rem(6);
		}
	}
	&--help {
		// --sPT: ;
		// --sTPB: ;
		--sPB: #{rem(40)};
		@include media-breakpoint-up(md) {
			// --sPT: #{rem(35)};
			--sPB: #{rem(65)};
		}
		@include media-breakpoint-up(lg) {
			--sPT: 0;
		}
		@include media-breakpoint-up(xl) {
			--sPB: #{rem(65)};
		}
		.sQuestions__inner {
			@include media-breakpoint-up(xl) {
				padding: rem(40);
			}
		}
		h2 {
			@extend .h3;
		}
		.sQuestions__subtitle {
			max-width: 27.7em;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sQuestions
