mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
<<<<<<< HEAD
			.row
				.col-12
					+b.question-block.text-center 
						+e.H2.title Остались вопросы? 
						+e.P.subtitle Напишите нам  - мы всегда на связи
						+e.BUTTON(type='button').btn
							+icon('whatsapp')
							+e.SPAN.span WhatsApp
=======
			+e.inner.text-center
				h2 Остались вопросы?
				+e.subtitle Напишите нам&nbsp;- мы&nbsp;всегда на&nbsp;связи
				+e.btn(href="#")
					+icon('whatsapp')
					span WhatsApp
>>>>>>> 98598b3c45ec88f92c5aa169642c517d045787dc
	// end sQuestions