mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+e.inner.text-center
				h2 Остались вопросы?
				+e.subtitle Напишите нам&nbsp;- мы&nbsp;всегда на&nbsp;связи
				+e.btn(href="#")
					+icon('whatsapp-qestions')
					span WhatsApp
	// end sQuestions