// start .sArticleSubscription
.sArticleSubscription {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	padding-top: 0;
	padding-bottom: 0;
	.container {
		@include media-breakpoint-up(lg) {
			max-width: rem(877);
			padding-left: rem(57);
			padding-right: rem(57);
		}
	}
	&__head {
		h1 {
			color: $primary;
			margin-bottom: rem(11);
		}
		p {
			font-size: rem(22);
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(50);
			}
		}
	}
	&__inFavorite {
		span {
			font-size: rem(14);
			color: $primary;
		}
		.icon {
			font-size: rem(24);
		}
	}
	&__blackout {
		position: relative;
		margin-top: rem(40);
			@include media-breakpoint-up(lg) {
				margin-top: rem(75);
			}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 89%);
		}
	}
	.articleReg {
		&__reg {
			display: inline-block;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticleSubscription