// start .sCourses
.sCourses {
	--sPT: #{rem(40)};
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(0)};
	}
	
	margin-top: rem(-384);
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCourses

.courseWrrpaer {
	--main-fontSize: #{rem(14)};
	--line-height: #{rem(16)};
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: var(--bg, #{$white});
		left: 0;
		top: 0;
		border-radius: rem(16) 0 rem(16) rem(16);
		z-index: -1;
	}
	position: relative;
	z-index: 2;
	max-width: rem(380);
	display: flex;
	flex-direction: column;
	border: 1px solid $primary;
	border-radius: rem(16) 0 rem(16) rem(16);
	@include media-breakpoint-up(lg) {
		margin-top: 0;
		margin-left: rem(27);
	}
	&:not(:last-of-type) {
		margin-bottom: rem(17);
	}
	.pricing-block {
		margin-top: rem(16);
		padding-top: rem(16);
		border-top: 1px solid $background;
		&__col {
			margin-right: auto;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			padding-top: rem(7);
			margin-right: 0;
		}
		&__btn {
			padding: rem(8) rem(17);
			@include media-breakpoint-up(lg) {
				min-width: rem(216);
			}
		}
	}
	&__label {
		position: absolute;
		width: rem(134);
		height: rem(64);
		background-color: $primary;
		border-radius: rem(12);
		text-align: center;
		color: $white;
		padding-top: rem(6);
		top: rem(-27);
		z-index: -1;
		@include media-breakpoint-up(lg) {
			transform: rotate(270deg);
			top: 35px;
			left: -62px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		order: 1;
		max-width: rem(476);
		padding: rem(9.6) rem(15) rem(13) rem(16);
		.row {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(4)};
			justify-content: space-between;
		}
		h5 {
			color: $primary;
		}
		p {
			font-size: rem(12);
			line-height: var(--line-height);
			color: $dark-light;
		}
	}
	& > picture {
		order: 0;
		width: 100%;
		max-width: rem(383);
		min-height: 100%;
		img {
			max-width: 100%;
			border-radius: rem(16) 0 rem(16) rem(16);
			min-height: 100%;
			object-fit: cover;
		}
	}
	&__infoBlock {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: column;
		}
		span {
			font-size: rem(12);
			line-height: var(--line-height);
			&:first-child {
				color: $gray-dark;
				margin-right: rem(8);
			}
			&:last-child {
				color: $dark;
				font-weight: 500;
			}
			@include media-breakpoint-up(lg) {
				&:first-child {
					font-size: var(--main-fontSize);
					margin-right: 0;
				}
				&:last-child {
					font-size: var(--main-fontSize);
					margin-top: rem(4);
				}
			}
		}
	}
	&__who {
		display: flex;
		margin-top: rem(13);
		margin-bottom: auto;
		align-items: self-start;
		picture {
			max-width: rem(32);
			border-radius: rem(32) 0 rem(32) rem(32);
			margin-right: rem(12);
			overflow: hidden;
		}
		picture {
			@include media-breakpoint-up(lg) {
				order: 0;
			}
		}
	}
	&__text {
		font-size: var(--main-fontSize);
		line-height: var(--line-height);
		color: $gray-dark;
		p {
			margin-bottom: 0;
		}
	}
	&--starter {
		--bg: radial-gradient(167.29% 93.4% at 96.1% 8.61%, #fffdfc 0%, #f9edda 70.24%, #ffd4c1 100%);
		border: none;
		margin-top: rem(27);
	}
	@include media-breakpoint-up(lg) {
		max-width: rem(860);
		flex-direction: row;
		justify-content: space-between;
		&:not(:last-of-type) {
			margin-bottom: rem(24);
		}
		&__content {
			order: 0;
			padding: rem(8) rem(32) rem(8) rem(24);
			// padding: rem(9.6) rem(32) rem(13) rem(32);
		}
		p {
			font-size: var(--main-fontSize);
		}
		&__info {
			display: flex;
		}
	}
	&__bookmark {
		position: absolute;
		top: rem(8);
		right: rem(8);

		svg {
			font-size: rem(24);
			color: $primary;
			fill: var(--color, none);
			stroke: currentColor;
		}
	}
	&.active {
		--color: currentColor;
	}
}
