mixin sCourses(data)
	// start sCourses
	+b.sCourses--topIndent.section#sCourses&attributes(attributes)
		.container
			+course('Начальный курс', 'Курс &laquo;С&nbsp;заботой о&nbsp;вашем тазовом дне&raquo;', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности. Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 1, 'Пройти курс', 'Анна Грикевич', 'Специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна').--starter.--cabinet
				+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
				+infoblock('Длительность', '12 занятий')
				+infoblock('Формат проведения', 'Онлайн')
			+course('', 'Тренировка &laquo;Здоровая спина&raquo', 'Вторая ступень курса для более детальной проработки мышц тазового дна', 2, '1800', 2, 'Начать тренировку', 'Даниил Маркарьян', 'Кандидат медицинских наук. Колопроктолог, онколог, хирург').--cabinet.active
				+infoblock('Начало проведения', 'В любое время')
				+infoblock('Длительность', '8 занятий')
				+infoblock('Формат проведения', 'Запись')
			+course('', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 3, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ').--cabinet
				+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
				+infoblock('Длительность', '12 занятий')
				+infoblock('Формат проведения', 'Онлайн')
			+course('Начальный курс', 'Курс &laquo;С&nbsp;заботой о&nbsp;вашем тазовом дне&raquo;', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности. Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 1, 'Пройти курс', 'Анна Грикевич', 'Специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна').--starter.--cabinet
				+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
				+infoblock('Длительность', '12 занятий')
				+infoblock('Формат проведения', 'Онлайн')
			+course('', 'Тренировка &laquo;Здоровая спина&raquo', 'Вторая ступень курса для более детальной проработки мышц тазового дна', 2, '1800', 2, 'Начать тренировку', 'Даниил Маркарьян', 'Кандидат медицинских наук. Колопроктолог, онколог, хирург').--cabinet.active
				+infoblock('Начало проведения', 'В любое время')
				+infoblock('Длительность', '8 занятий')
				+infoblock('Формат проведения', 'Запись')
			+course('', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 3, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ').--cabinet
				+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
				+infoblock('Длительность', '12 занятий')
				+infoblock('Формат проведения', 'Онлайн')
			+pugin()
	// end sCourses

mixin sCourses2(data)
	// start sCourses
	+b.sCourses--forCoursePage.section#sCourses&attributes(attributes)
		.container
			h2 Другие курсы
			.row
				.col-lg-4
					+course('Начальный курс', 'Курс &laquo;С&nbsp;заботой о&nbsp;вашем тазовом дне&raquo;', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности. Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 1, 'Пройти курс', 'Анна Грикевич', 'Специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна').--starter
						+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
						+infoblock('Длительность', '12 занятий')
						+infoblock('Формат проведения', 'Онлайн')
				.col-lg-4
					+course('', 'Тренировка &laquo;Здоровая спина&raquo', 'Вторая ступень курса для более детальной проработки мышц тазового дна', 2, '1800', 2, 'Пройти курс', 'Даниил Маркарьян', 'Кандидат медицинских наук. Колопроктолог, онколог, хирург').active
						+infoblock('Начало проведения', 'В любое время')
						+infoblock('Длительность', '8 занятий')
						+infoblock('Формат проведения', 'Запись')
				.col-lg-4
					+course('', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 3, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ')
						+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
						+infoblock('Длительность', '12 занятий')
						+infoblock('Формат проведения', 'Онлайн')

mixin sCourses3(data)
	+b.sCourses--avaibleMaterials.section#sCourses&attributes(attributes)
		.container
			p.text-center Все события отображаются по московскому времени
			.row
				.col-12
					+course('Начальный курс', 'Курс &laquo;С&nbsp;заботой о&nbsp;вашем тазовом дне&raquo;', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности. Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 1, 'Пройти курс', 'Анна Грикевич', 'Специалист по&nbsp;функциональному движению и&nbsp;восстановлению мышц тазового дна').--cabinet.--starter
						+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
						+infoblock('Длительность', '12 занятий')
						+infoblock('Формат проведения', 'Онлайн')
				.col-12
					+course('', 'Тренировка &laquo;Здоровая спина&raquo', 'Вторая ступень курса для более детальной проработки мышц тазового дна', 2, '1800', 2, 'Пройти курс', 'Даниил Маркарьян', 'Кандидат медицинских наук. Колопроктолог, онколог, хирург').--cabinet.active
						+infoblock('Начало проведения', 'В любое время')
						+infoblock('Длительность', '8 занятий')
						+infoblock('Формат проведения', 'Запись')
				.col-12
					+course('', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 3, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ').--cabinet
						+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
						+infoblock('Длительность', '12 занятий')
						+infoblock('Формат проведения', 'Онлайн')