// start .sQuestionnaire
.sQuestionnaire {
	--sPT: 0;
	--sPB: #{rem(16)};
	// --sPT: #{rem(24)};
	background-color: $white;
	// margin-top: rem(-24);
	// border-radius: 24px 24px 0px 0px;
	@include media-breakpoint-up(md) {
		--sPT: 0;
		--sPB: #{rem(16)};
		// --sPT: #{rem(48)};
	}
	.container {
		@include media-breakpoint-up(xl) {
			max-width: 990px;
		}
	}
	
	.form-wrap {
		border: 1px solid $primary;
		border-radius: 24px;
		padding: rem(32) rem(16);
		max-width: rem(762);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(sm) {
			padding: rem(40) rem(24);
		}
		form {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			max-width: rem(400);
			@include media-breakpoint-up(md) {
				max-width: rem(570);
			}
		}
		h2 {
			@extend .h4;
			text-align: center;
			max-width: 12em;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;
			}
		}
		&__input-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: rem(32);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(24);
			}
			&:first-of-type {
				margin-top: rem(16);
				@include media-breakpoint-up(md) {
					margin-top: rem(32);

				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			.custom-input {
				min-width: rem(80);
				width: auto;
				margin-bottom: rem(16);
				&:last-child {
					margin-bottom: 0;
				}
				@include media-breakpoint-up(md) {
					margin-bottom: rem(8);
				}
				&__text {
					// line-height: calc(24 / 16);
					// @include media-breakpoint-up(md) {
					// 	line-height: 1;
					// }
				}
			}
		}
		&__input-title {
			@extend .medium-subtitle;
			margin-bottom: rem(16);
		}
		&__btn {
			@extend .btn, .btn-primary;
			padding: rem(8);
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(24);
			@include media-breakpoint-up(sm) {
				width: rem(216);
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sQuestionnaire
