mixin sArticleVideo(link)
	// start sArticleVideo
	+b.SECTION.sArticleVideo.section#sArticleVideo&attributes(attributes)
		.container
			.row 
				.col.col-lg-10
					+b.video-wrrpaer
						iframe(src=`${link}` title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
					+e.share
						+e.share-leftBlock 
							span Поделиться
							+soc()
								+item-sos('fb-share')
								+item-sos('twitter-share')
								+item-sos('vk-share')
								+item-sos('telegram')
								+item-sos('whatsapp')
								+item-sos('share')
						+e.share-rightBlock 
							+e.inFavorite(href="#")
								+icon('bookmark')
								span В избранное
	// end sArticleVideo