mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда BLOOM
			+e.slider.swiper.slider-auto--js
				.swiper-wrapper
					mixin slide(i, l, ...items)
						+e.slide.swiper-slide
							+e.item(href=`${l}`)
								+e.img-wrap
									img(src=`img/svg/sCategories-${i}.svg`, alt="" loading="lazy")
								+e.caption
									each item in items
										span!= item
								+e.btn
									+icon('shevron-right')
									
					+slide(1, `#`, `Тренировки`, `и реабилитация`)
	// end sTeam