// start .sTeam
.sTeam {
	--sPT: 0;
	--sPB: 0;
	--sTPB: 24px;
	position: relative;
	@include media-breakpoint-up(md) {
		// --sTPB: #{rem(5)};
	}
	--imgW: 80px;
	@include media-breakpoint-up(sm) {
		--imgW: 184px;
	}
	@include media-breakpoint-up(md) {
		// --imgW: 30%;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 70%;
		left: 0;
		bottom: 0;
		pointer-events: none;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 64.69%);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.section-title {
		h2 {
			color: $primary;
			margin-bottom: 0;
		}
	}
	&__slider {
		overflow: visible;
	}
	&__slide {
		// @include mt;
		max-width: rem(288);
		margin-right: rem(24);
		padding-top: rem(45);
		padding-bottom: rem(45);
		@include media-breakpoint-up(md) {
			margin-right: rem(57);
			max-width: rem(435);
		}
		&.swiper-slide-active {
			--tY: #{rem(-20)};
			@include media-breakpoint-up(md) {
				max-width: rem(489);
				--tY: #{rem(-30)};
				// padding-left: rem(45);
				
				picture {
					// transform: scale(1.35);
					
				}
			}
		}
		&.swiper-slide-next {
			--tY: #{rem(38)};
			@include media-breakpoint-up(md) {
				--tY: #{rem(25)};
			}
		}
	}

	&__item {
		@include mt;
		transform: translateY(var(--tY));
		position: relative;
		@include media-breakpoint-up(md) {
			padding-left: calc(var(--imgW) + rem(12));
		}
		p {
			font-size: rem(16);
			line-height: calc(24 / 16);
			margin-bottom: rem(8);
			@include media-breakpoint-up(md) {
				line-height: 1;
				max-width: rem(292);
			}
			&:first-of-type {
				font-weight: 500;
				font-size: rem(19);
				line-height: calc(24 / 19);
				@include media-breakpoint-up(md) {
					font-size: rem(22);
					line-height: calc(24 / 22);
				}
			}
			&:last-of-type {
				@include media-breakpoint-up(md) {
					margin-bottom: rem(12);
				}
			}
		}
	}

	picture {
		// @include block;
		@include mt;
		position: absolute;
		width: var(--imgW);
		left: 0;
		top: 0;
		overflow: hidden;
		border-radius: 24px 0px 24px 24px;
		background-color: #c4c4c4;
		@include media-breakpoint-up(md) {
			border-radius: 32px 0px 32px 32px;
			top: rem(75);
		}
		img {
			// transform-origin: top right;
			// position: absolute;
			// left: 0;
			// top: 0;
			// @include mt;
			// transform: var(-);
			// max-width: none;
		}
	}
	&__heading {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: calc(var(--imgW) + rem(12));
		@include media-breakpoint-up(md) {
			padding-left: 0;
		}
		& > span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: rem(24);
			color: $primary;
			border: 1px solid rgba(214, 118, 68, 0.4);
			padding: 0 rem(8);
			border-radius: 8px 8px 8px 0px;
			margin-bottom: rem(8);
			@include media-breakpoint-up(md) {
				margin-left: rem(-40);
			}
		}
		h5 {
			display: flex;
			flex-direction: column;
			span {
				&:first-child {
					@include media-breakpoint-up(md) {
						margin-bottom: 2px;
						margin-left: rem(-40);
					}
				}
			}
		}
	}
	&__btn {
		@include roww(8px, m);
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $dark;
		}
		.icon {
			font-size: rem(24);
		}
		span {
			font-size: rem(16);
			line-height: calc(24 / 16);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTeam
