// start .sTeam
.sTeam {
	--sPT: 0;
	--sPB: 0;
	--sTPB: 24px;
	position: relative;
	@include media-breakpoint-up(md) {
		// --sTPB: #{rem(5)};
	}
	--imgW: 80px;
	@include media-breakpoint-up(lg) {
		--imgW: 184px;
	}
	@include media-breakpoint-up(md) {
		// --imgW: 30%;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 70%;
		left: 0;
		bottom: 0;
		pointer-events: none;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 64.69%);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.section-title {
		h2 {
			color: $primary;
			margin-bottom: 0;
		}
	}
	&__slider {
		overflow: visible;
	}
	&__slide {
		// @include mt;
		max-width: rem(288);
		margin-right: rem(24);
		padding-top: rem(45);
		padding-bottom: rem(45);
		@include media-breakpoint-up(lg) {
			margin-right: rem(57);
			max-width: rem(435);
		}
		&.swiper-slide-active {
			--tY: #{rem(-20)};
			@include media-breakpoint-up(lg) {
				max-width: rem(489);
				--tY: #{rem(-30)};
				// padding-left: rem(45);

				picture {
					width: var(--imgW);
					// transform: scale(1.35);
				}
			}
		}
		&.swiper-slide-next {
			--tY: #{rem(38)};
			@include media-breakpoint-up(lg) {
				--tY: #{rem(25)};
			}
		}
	}

	&__item {
		@include mt;
		transform: translateY(var(--tY));
		position: relative;
		@include media-breakpoint-up(lg) {
			padding-left: calc(var(--imgW) + rem(12));
		}
		p {
			font-size: rem(16);
			line-height: calc(24 / 16);
			margin-bottom: rem(8);
			@include media-breakpoint-up(lg) {
				line-height: 1;
				max-width: rem(292);
			}
			&:first-of-type {
				font-weight: 500;
				font-size: rem(19);
				line-height: calc(24 / 19);
				@include media-breakpoint-up(lg) {
					font-size: rem(22);
					line-height: calc(24 / 22);
				}
			}
			&:last-of-type {
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(12);
				}
			}
		}
	}

	picture {
		// @include block;
		@include mt;
		position: absolute;
		// left: 0;
		top: 0;
		overflow: hidden;
		border-radius: 24px 0px 24px 24px;
		background-color: #c4c4c4;
		width: var(--imgW);
		@include media-breakpoint-up(lg) {
			right: calc(100% - var(--imgW));
			left: auto;
			width: 134px;
			margin-left: auto;
			border-radius: 32px 0px 32px 32px;
			top: rem(75);
		}
		img {
			// transform-origin: top right;
			// position: absolute;
			// left: 0;
			// top: 0;
			// @include mt;
			// transform: var(-);
			// max-width: none;
		}
	}
	&__heading {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: calc(var(--imgW) + rem(12));
		@include media-breakpoint-up(lg) {
			padding-left: 0;
		}
		& > span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: rem(24);
			color: $primary;
			border: 1px solid rgba(214, 118, 68, 0.4);
			padding: 0 rem(8);
			border-radius: 8px 8px 8px 0px;
			margin-bottom: rem(8);
			@include media-breakpoint-up(lg) {
				margin-left: rem(-40);
			}
		}
		h5 {
			display: flex;
			flex-direction: column;
			span {
				&:first-child {
					@include media-breakpoint-up(lg) {
						margin-bottom: 2px;
						margin-left: rem(-40);
					}
				}
			}
		}
	}
	&__btn {
		@include roww(8px, m);
		display: inline-flex;
		align-items: center;
		&:not(:hover) {
			color: $dark;
		}
		.icon {
			font-size: rem(24);
		}
		span {
			font-size: rem(16);
			line-height: calc(24 / 16);
		}
	}
	&__price-row {
		align-items: center;
		margin-top: 0;
		max-width: rem(344);
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(12)};
	}
	&__price {
		display: flex;
		align-items: center;
		& > span {
			align-self: flex-end;
			margin-left: -0.3em;
		}
	}
	&__num {
		display: flex;
		font-family: "Lovelace";
		font-size: rem(32);
		line-height: 0.9;
		// line-height: calc(40 / 32);
		span {
			font-size: 0.62em;
			margin-left: 0.05em;
		}
	}
	&__btn-signUp {
		@extend .btn, .btn-primary;
		padding: rem(8) rem(26);
		@include media-breakpoint-only(md) {
			font-size: rem(19);
		}
	}
	&--page {
		--sPB: #{rem(57)};
		@include media-breakpoint-up(sm) {
			--imgW: 95px !important;
		}
		@include media-breakpoint-up(lg) {
			--sPB: #{rem(70)};
			--imgW: 80px !important;
			border-radius: 24px 0 24px 24px !important;
		}
		@include media-breakpoint-up(lg) {
			--imgW: 136px !important;
			border-radius: 32px 0 32px 32px !important;
		}
		picture {
			width: var(--imgW) !important;
			@include media-breakpoint-up(lg) {
				border-radius: 24px 0 24px 24px !important;
			}
			@include media-breakpoint-up(lg) {
				border-radius: 32px 0 32px 32px !important;
			}
		}
		& > .container {
			@include media-breakpoint-up(xl) {
				max-width: 1070px;
			}
			& > .row {
				--bs-gutter-y: #{rem(50)};
				@include media-breakpoint-up(xl) {
					--bs-gutter-x: #{rem(96)};
					--bs-gutter-y: #{rem(105)};
				}
			}
		}
		.sTeam__item {
			// @include media-breakpoint-up(xl) {
			// 	max-width: rem(471);
			// }

			p {
				// @include media-breakpoint-up(sm) {
				// 	max-width: rem(430);
				// }
				@include media-breakpoint-up(lg) {
					max-width: 100%;
				}
				&:first-of-type {
					// @include media-breakpoint-only(sm) {
					// 	font-size: rem(22);
					// }
					@include media-breakpoint-only(md) {
						font-size: rem(19);
					}
				}
			}
		}
		// &__col {

		// }
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTeam
