mixin allcss() 
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="libs/litepicker/css/litepicker.css", rel="stylesheet")
	link(href="libs/animate.css/animate.min.css", rel="stylesheet")
	link(href="libs/tippy.js/tippy.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/litepicker/nocss/litepicker.js") 
	script(src="libs/wowjs/wow.min.js")
	script(src="libs/typed.js/lib/typed.min.js")
	script(src="libs/ddslick/jquery.ddslick.min.js")
	script(src="libs/@popperjs/core/umd/popper.min.js")
	script(src="libs/tippy.js/tippy-bundle.umd.min.js")
	script(src="js/common.js")
