mixin sNewCourse(data)
	// start sNewCourse
	+b.SECTION.sNewCourse.section#sNewCourse&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 С заботой о вашем дне
				p Для защиты диплома на&nbsp;обучении нужна практика. Поэтому я&nbsp;запустила курс &laquo;С&nbsp;заботой о&nbsp;вашем дне&raquo;, который стал моей выпускной работой.
			.text-center
				+b.count
					h3 2 346
					p женщин прошли этот курс тренировок
			+e.wrapper
				+course('Начальный курс', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 4, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ').--starter.active
					+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
					+infoblock('Длительность', '12 занятий')
					+infoblock('Формат проведения', 'Онлайн')
	// end sNewCourse