mixin sNewCourse(data)
	// start sNewCourse
	+b.SECTION.sNewCourse.section#sNewCourse&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sNewCourse
			+e.wrapper
				+course('Начальный курс', 'Курс «С заботой о вашем тазовом дне»', 'Подготовка к&nbsp;родам и&nbsp;восстановление после них. Тренировки при болях в&nbsp;позвоночнике. Улучшение мобильности и&nbsp;стабильности.', 1, '900', 3, 'Пройти курс', 'Анна Грикевич', 'Специалист по функциональному движению и восстановлению мышц тазового дна ').--starter
					+infoblock('Начало проведения', '3 июля в 18:00 (по мск)')
					+infoblock('Длительность', '12 занятий')
					+infoblock('Формат проведения', 'Онлайн')
	// end sNewCourse